<div class="auCenterMenu">
    <div class="auCMDiv">
        <div class="auCMOne">
            <span class="auCMOSpan" id="aboutUsA">项目安全</span>
        </div>
        <div class="auCMOne">
            <span class="auCMOSpan" id="aboutUsB">资金安全</span>
        </div>
    </div>
</div>
<div class="ic0909Banner"></div>
<div class="aboutUsBg">
    <div class="aboutUsMain">
        <div class="aboutUsRightMain" id="aboutUsRightMain">
        </div>
        <div style="clear:both;"></div>
    </div>
</div>