<div class="expRulebg pcrRPWH">
    <div class="expRulebgMain pcrRPWH">
        <div class="expRuleHead">返现券规则说明
            <div class="expRuleClose" id="pcRuleClose"></div>
        </div>
        <div class="expRuleContent rpContent">
            <ul>
                <li class="erId">一、</li>
                <li class="erText">返现券是什么？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">返现券是点理财为了给用户投资时提供返现优惠所推出的优惠券。返现券仅限在点理财平台内投资且投资总额和期限均满足条件时使用，成功使用返现券，将获得返现券面值等额现金返至账户余额。</li>

                <li class="erId">二、</li>
                <li class="erText">如何获取返现券？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">为回馈新老用户，点理财会不定期派发返现券。请密切关注点理财的各类活动。</li>

                <li class="erId">三、</li>
                <li class="erText">如何正确使用返现券？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">返现券本身不能直接兑换成现金，在投资支持使用返现券的项目时，勾选返现券，投资成功后，需等项目满标，返现券金额会返现到账户可用余额中，可以提现或续投平台其他项目，每次投资限用一张返现券，每张返现券的起投金额和使用期限均不一样，请查看使用。</li>

                <li class="erId">四、</li>
                <li class="erText">返现券在什么情况下会被退回？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">当项目无法融满，投资失败的情况下会退回您的账户中。</li>

                <li class="erId">五、</li>
                <li class="erText">返现券使用规则</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">1、返现券可在投资指定产品时使用，如无特殊说明，返现券不能与其他优惠同时使用；</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">2、每张返现券只能使用一次，且不能叠加使用；</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">3、返现券具体起投金额、使用期限，可登录【我的账户】中查看。返现券须在载明的有效期内使用，过期作废；</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">4、返现券是点理财向平台注册用户提供的一种新型奖励方式，不可转让、不可折现。</li>

                <li class="erId">&nbsp;</li>
                <li class="erId">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
