<div class="expRulebg pcrRPWH">
    <div class="expRulebgMain pcrRPWH">
        <div class="expRuleHead">加息券规则说明
            <div class="expRuleClose" id="pcRuleClose"></div>
        </div>
        <div class="expRuleContent rpContent">
            <ul>
                <li class="erId">一、</li>
                <li class="erText">加息券是什么？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">加息券是点理财回馈给用户增加所投项目年化收益所推出的虚拟券。在投资时，用户可根据所使用的加息券的年化利率，获得额外的收益奖励。</li>

                <li class="erId">二、</li>
                <li class="erText">如何获取加息券？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">为回馈新老用户，点理财会不定期派发加息券。请密切关注点理财的各类活动。</li>

                <li class="erId">三、</li>
                <li class="erText">如何正确使用加息券？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">在投资支持使用加息券的项目时，勾选上该加息券，使用后将在原有的利率上加息，并产生额外的收益。每次投资限用一张加息券，每张赠券的起投金额和使用期限都不一样，请查看使用。</li>

                <li class="erId">四、</li>
                <li class="erText">成功使用加息券后，在什么情况下会被退回？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">当项目无法融满，投资失败的情况下会退回您的账户中。</li>

                <li class="erId">五、</li>
                <li class="erText">加息券使用规则</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">1、加息券可在投资指定产品时使用，如无特殊说明，加息券不能与其他优惠同时使用；</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">2、每张加息券只能使用一次，且不能叠加使用；</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">3、加息券具体加息额度、有效期，可登录【我的账户】中查看。加息券须在载明的有效期内使用，过期作废；</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">4、加息券是点理财向平台注册用户提供的一种新型奖励方式，不可转让、不可折现。</li>

                <li class="erId">&nbsp;</li>
                <li class="erId">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
