<div class="expRulebg pcrRPWH">
    <div class="expRulebgMain pcrRPWH">
        <div class="expRuleHead">满减券规则说明
            <div class="expRuleClose" id="pcRuleClose"></div>
        </div>
        <div class="expRuleContent rpContent">
            <ul>
                <li class="erId">一、</li>
                <li class="erText">满减券是什么？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">满减券是点理财为了给用户投资时提供满减优惠所推出的优惠券。满减券仅限在点理财平台内投资且投资总额和期限均满足条件时使用，成功使用满减券，投资应付总额中将减去使用满减券抵扣的金额。</li>

                <li class="erId">二、</li>
                <li class="erText">如何获取满减券？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">为回馈新老用户，点理财会不定期派发满减券。请密切关注点理财的各类活动。</li>

                <li class="erId">三、</li>
                <li class="erText">如何正确使用满减券？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">在投资支持使用满减券的项目时，勾选满减券，投资额必须大于等于满减额。成功使用满减券，投资应付总额中将减去使用满减券抵扣的金额，每次投资限用一张满减券，每张满减券的起投金额和使用期限均不一样，请留意使用条件。</li>

                <li class="erId">四、</li>
                <li class="erText">成功使用满减券后，在什么情况下会被退回？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">当项目无法融满，投资失败的情况下会退回您的账户中。</li>

                <li class="erId">五、</li>
                <li class="erText">满减券使用规则</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">1、满减券可在投资指定产品时使用，如无特殊说明，满减券不能与其他优惠同时使用；</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">2、每张满减券只能使用一次，且不能叠加使用；</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">3、满减券具体起投金额、使用期限，可登录【我的账户】中查看。满减券须在载明的有效期内使用，过期作废；</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">4、满减券是点理财向平台注册用户提供的一种新型奖励方式，不可转让、不可折现。</li>

                <li class="erId">&nbsp;</li>
                <li class="erId">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
