<div class="expRulebg expRPWH">
    <div class="expRulebgMain expRPWH">
        <div class="expRuleHead">点币规则说明
            <div class="expRuleClose" id="pcRuleClose"></div>
        </div>
        <div class="expRuleContent rpContent">
            <ul>
                <li class="erId">一、</li>
                <li class="erText">什么是点币？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">点币是点理财为答谢用户支持而推出的一项增值服务，是回馈新老客户的一项优惠计划，不可转让、不可折现。</li>

                <li class="erId">二、</li>
                <li class="erText">点币如何获得？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">用户注册、实名、绑卡等多种方式均可获得点币，具体请参见点理财官网活动。</li>

                <li class="erId">三、</li>
                <li class="erText">点币如何使用？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">持有点币的用户可参与平台举行的各项活动，活动规则根据平台活动而定，具体请参见点理财官网活动。</li>

                <li class="erId">&nbsp;</li>
                <li class="erId">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
