<div class="expRulebg pcrRPWH" style="height:225px;">
    <div class="expRulebgMain pcrRPWH" style="height:225px;">
        <div class="expRuleHead">提现规则
            <div class="expRuleClose" id="pcRuleClose"></div>
        </div>
        <div class="expRuleContent rpContent">
            <ul>
                <li class="erId">1.</li>
                <li class="erText">用户投资满100元，每月有3次的免费提现机会，超过3次则每笔收取2元提现手续费；</li>

                <li class="erId">2.</li>
                <li class="erText">用户投资未满100元，每笔提现收取2元手续费；</li>

                <li class="erId">3.</li>
                <li class="erText">单笔提现金额必须大于等于2元，<span style='color:red'>提现金额上限及具体到账时间请以各自银行系统运作为准。</span></li>

                <li class="erId">&nbsp;</li>
                <li class="erId">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
