<div class="expRulebg pcrRPWH">
    <div class="expRulebgMain pcrRPWH">
        <div class="expRuleHead">红包规则说明
            <div class="expRuleClose" id="pcRuleClose"></div>
        </div>
        <div class="expRuleContent rpContent">
            <ul>
                <li class="erId">一、</li>
                <li class="erText">投资红包是什么？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">投资红包是点理财向平台用户提供的一种奖励方式，持有红包的用户可在投资点理财的项目时选择变现红包，每次仅限使用一个红包，投资成功且项目满标后将获得红包面值的等额现金返至账户余额。</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">投资红包是点理财回馈新老客户的一项优惠计划，不可转让、不可折现。点理财保留对投资红包进行解释的权利。</li>

                <li class="erId">二、</li>
                <li class="erText">如何获取投资红包？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">为回馈新老用户，点理财会不定期举行赠送投资红包的活动，若满足活动要求可获得投资红包，请密切关注点理财的各类活动。</li>

                <li class="erId">三、</li>
                <li class="erText">如何正确变现投资红包？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">投资红包不计息，不能抵扣本金，不可拆分使用。投资红包仅可在投资指定理财产品且项目满标后变现，每笔投资最多可变现1个投资红包。如无特殊说明，投资红包不能与点币、加息券等同时使用。</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">投资红包应在载明的有效期内变现，过期作废，请投资用户及时使用。</li>

                <li class="erId">四、</li>
                <li class="erText">投资红包兑现时间？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">投资红包面值等额现金将在投资成功且项目满标后一次性发放到投资用户账户中。</li>

                <li class="erId">五、</li>
                <li class="erText">投资红包变现步骤？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">（1）进入投资页面，输入投资金额，系统将自动显示可使用的投资红包。</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">（2）选择可使用的投资红包。</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">（3）投资成功，待项目满标后，投资红包金额返至账户余额 。</li>

                <li class="erId">&nbsp;</li>
                <li class="erText">注意：投资红包应在载明的有效期内变现，过期作废。</li>

                <li class="erId">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
