<div class="expRulebg pcrRPWH">
    <div class="expRulebgMain pcrRPWH">
        <div class="expRuleHead">升息令牌规则说明
            <div class="expRuleClose" id="pcRuleClose"></div>
        </div>
        <div class="expRuleContent rpContent">
            <ul>
                <li class="erId">一、</li>
                <li class="erText">升息令牌是什么？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">升息令牌是用户投资【节节升息】项目成立后，点理财发放给用户，用以获取额外收益的奖励券。用户可在【节节升息】投资项目到期后使用升息令牌进行复投，根据所使用的升息令牌的年化利率，获得额外的收益奖励。</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">升息令牌是点理财回馈用户的一项优惠计划，不可转让、不可折现。点理财保留对升息令牌进行解释的权利。</li>

                <li class="erId">二、</li>
                <li class="erText">如何获取升息令牌？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">投资【节节升息】项目满标次日，升息令牌将自动发放至用户点理财账户。平台也会不定期举行相关活动，请密切关注点理财的各类活动。</li>

                <li class="erId">三、</li>
                <li class="erText">如何正确使用升息令牌？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">用户可在【节节升息】投资项目到期后，根据页面提示选择继续投资【节节升息】项目，选择续投的期限越长，所享受的升息比例越高，具体升息比例请以页面显示为准。</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">每笔投资只能使用一张升息令牌，升息令牌不可叠加使用。每张升息令牌只可以使用一次，使用后升息令牌将失效。如无特殊说明，升息令牌不能与点币、优惠券等同时使用。</li>

                <li class="erId">四、</li>
                <li class="erText">升息令牌可在哪里查看？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">用户登录后可于【我的账户】-【我的升息令牌】中查看升息令牌的相关状态，包括数量、使用状态、有效期。</li>

                <li class="erId">五、</li>
                <li class="erText">升息令牌的有效期是多久？</li>
                <li class="erId">&nbsp;</li>
                <li class="erText">升息令牌的有效期为15天，用户可于【我的账户】-【我的升息令牌】中查看，超过有效期且未使用的升息令牌将被系统自动回收。</li>

                <li class="erId">&nbsp;</li>
                <li class="erId">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
