<div class="wcbg">
    <div class="wcbgMain">
        <div class="wcHead">委托代扣授权书
            <div class="wcClose" id="wcClose"></div>
        </div>
        <div class="wcContent">
            <p class="wcContentHead">授权人：点理财注册用户</p>
            <p class="wcContentHead">被授权人：众网金融科技（上海）有限公司（下称“点理财”）</p>
            <div class="h20px"></div>
            <p>就本人在点理财绑定本人银行卡并支付产品相关款项事宜向点理财授权如下：</p>
            <ul>
                <li class="wcId">一、</li>
                <li class="wcText">授权人授权点理财根据授权人签署的相关协议以及授权人的“确认付款”指令，从授权人指定的代扣代收银行帐户通过点理财指定的第三方机构主动扣收等值于投资产品购买价款的款项。</li>
                <li class="wcId">二、</li>
                <li class="wcText">授权人知晓并确认，本授权书系使用授权人点理财用户名、以网络在线点击确认的方式向点理财发出。本授权书自授权人在点理财点击确认时生效，由点理财通过第三方机构从授权人指定的银行帐户中代扣相当于投资金额的款项。授权人已在投资前绑定银行帐户信息并确认在代扣完成以前不会进行任何更新，在代扣的过程中，点理财根据授权人绑定的银行帐户信息进行相关操作，无需再向授权人确认银行帐户信息和密码。本授权书一经生效即不可撤销。授权人确认并承诺，点理财根据本授权书所采取的全部行动和措施的法律后果均由授权人承担。</li>
                <li class="wcId">三、</li>
                <li class="wcText">点理财仅根据本授权书所述的授权人的授权进行相关操作，无义务对其根据本授权书所采取的全部行动和措施的时效性和结果承担任何责任。</li>
                <li class="wcId">四、</li>
                <li class="wcText">在授权人银行卡开户行、中国银联、点理财指定的第三方机构、代扣执行机构等代扣所经机构或司法部门、监管部门等第三方提出要求时，授权人同意点理财向该第三方提供本协议。</li>
            </ul>
            <div class="wcFloot">
                <p class="wcContentHead">特此授权</p>
            </div>
        </div>
    </div>
</div>