<% include ../header.html%>
    <div class="activity161128BgCollor ">
        <div class="br2Bg activity161128Bg1">
            <a href="/myCenter_userRefer" class="activity161128AToUR"></a>
        </div>
        <div class="br2Content">
            <div class="h60px"></div>
            <div class="br2cTitle1 activity161128Title1"></div>
            <div class="h80px"></div>
            <div class="br2cBg3">
                <div class="br2cBg3Div br2cBg3Div1">
                    <span class="br2cBg3DSpan">Step1</span>
                    <div class="h10px"></div>
                    <div class="h30px"></div>
                    进入 “<a href="/myCenter_userRefer"><span class="cloe13533">邀请有礼</span></a>”
                </div>
                <div class="br2cBg3Div br2cBg3Div2">
                    <span class="br2cBg3DSpan">Step2</span>
                    <div class="h30px"></div>
                    获取邀请码
                    <br>或分享链接到
                    <br>微信、微博、QQ
                    <br>
                </div>
                <div class="br2cBg3Div br2cBg3Div3">
                    <span class="br2cBg3DSpan">Step3</span>
                    <div class="h30px"></div>
                    好友凭邀请码
                    <br>或链接成功
                    <br>注册并投资
                    <br>
                </div>
                <div class="br2cBg3Div br2cBg3Div4">
                    <span class="br2cBg3DSpan">Step4</span>
                    <div class="h30px"></div>
                    获得奖励，登陆后
                    <br>查看“<a href="/myCenter_userRefer"><span class="cloe13533">邀请有礼</span></a>”
                </div>
            </div>
            <div class="h80px"></div>
            <div class="br2cTitle2 activity161128Title2"></div>
            <div class="h80px"></div>
            <div class="br2cBg4 activity161128Bg4">
                <span class="br2cBg4S1">一重礼</span>
                <span class="br2cBg4S2">注册认证奖  100点币</span>
            </div>
            <div class="h80px"></div>
            <div class="br2cBg5 activity161128Bg5">
                <div class="br2cBg5Div1">
                    每邀请一位好友注册
                    <br>并完成身份认证
                </div>
                <div class="br2cBg5Div2">
                    你可获得100点币奖励
                    <br><span class="fz12px">(持有点币的用户在投资平台产品时<br>可直接抵扣现金，抵扣比例以页面显示为准)</span>
                </div>
                <div class="br2cBg5Div3">
                    好友可获得<br>10%加息券
                </div>

            </div>
            <div class="h80px"></div>
            <div class="br2cBg6 activity161128Bg6">
                <span class="br2cBg4S1">二重礼</span>
                <span class="br2cBg4S2">邀请好友投资    <span class="clofdde4f">0.5%佣金+最高2800元现金</span></span>
            </div>
            <div class="h40px"></div>
            <div class="pl35px">1、自好友注册之日起1年（365天）内，邀请人可获得好友每笔投资年化金额的0.5%</div>
            <div class="h40px"></div>
            <div class="br2cBg7 activity161128Bg7">
                <div class="br2cBg7Div1">若您邀请了10位好友注册认证</div>
                <div class="br2cBg7Div2">好友均购买了<span class="cloff6b00">10万元365天</span>鑫盈精选产品
                    <br>到期一次性还本付息
                    <br><br><span class="cloff6b00"><span class="fz30px">您可获得佣金：</span>
                    <br>10万元×365÷365×0.5%×10=5000元</span></div>
            </div>
            <div class="h80px"></div>
            <div class="pl35px">2、活动期间有效邀请好友注册且单笔投资金额≥2000元投资人数达到一定数量，额外奖励以下现金</div>
            <div class="h40px"></div>
            <div class="br2cTable">
                <table width="100%" class="br2BlBt">
                    <tr class="br2Th">
                        <td width="60%" class="br2BrBb">当月有效邀请好友数（人）</td>
                        <td width="40%" class="br2BrBb">额外奖励</td>
                    </tr>
                    <tr class="br2Tr">
                        <td class="br2BrBb">10</td>
                        <td class="br2BrBb">200元现金</td>
                    </tr>
                    <tr class="br2Tr">
                        <td class="br2BrBb">25</td>
                        <td class="br2BrBb">600元现金</td>
                    </tr>
                    <tr class="br2Tr">
                        <td class="br2BrBb">50</td>
                        <td class="br2BrBb">1300元现金</td>
                    </tr>
                    <tr class="br2Tr">
                        <td class="br2BrBb">100</td>
                        <td class="br2BrBb">2800元现金</td>
                    </tr>
                </table>
            </div>
            <div class="h20px"></div>
            <div class="br2cTCenter">温馨提示：活动结束后，我们将以公告的方式进行宣布获奖用户，现金奖励将于活动结束后7个工作日内发放至用户绑定银行卡账号</div>
            <div class="h80px"></div>
            <div class="br2cBg6 activity161128Bg6">
                <span class="br2cBg4S1">三重礼</span>
                <span class="br2cBg4S2">邀请英雄榜    <span class="clofdde4f">最高送iphone7 plus</span></span>
            </div>
            <div class="h40px"></div>
            <div class="pl35px">活动期间累计有效邀请好友≥200人，且最终邀友排名前三者，再送Apple系列豪礼</div>
            <div class="h20px"></div>
            <div class="pl35px">温馨提示：被邀请人截止活动结束单笔投资金额≥2000元，算一个有效邀请</div>
            <div class="h80px"></div>
            <div class="br2cBg8 activity161128Bg8"></div>
            <div class="h80px"></div>
            <div class="br2cList">
                <div class="br2clDiv1">
                    想要get现金豪礼！
                    <a href="/myCenter_userRefer">
                        <div class="rbp3A1"> 速邀好友助力></div>
                    </a>
                </div>
                <table class="br2BlBtBr br2clTable">
                    <tr class="br2Th">
                        <td width="30%" class="br2Bb">用户名</td>
                        <td width="20%" class="br2Bb">有效邀请人数</td>
                        <td width="20%" class="br2Bb">现金豪礼</td>
                        <td width="30%" class="br2Bb">最后邀请时间</td>
                    </tr>

                    <% ranksList.forEach(function(list,index){ %>
                        <tr class="br2Tr">
                            <td class="br2Bb br2Td<%=index%>"><%=list.cellphone%></td>
                            <td class="br2Bb"><%=list.referCount%>人</td>
                            <td class="br2Bb">
                            <% if (index == 0){ %>
                            一等奖
                            <% }else if(index == 1){ %>
                            二等奖
                            <% }else if(index == 2){ %>
                            三等奖
                            <% }else{ %>
                            加油中......
                            <% } %>
                            </td>
                            <td class="br2Bb"><%=list.referAt.replace(/T/,' ')%></td>
                        </tr>
                      <% }) %>
                </table>
                <div class="rbp3Div3Bottom">
                    以上数据实时更新，最终排名请以活动结束时间2017年1月4日17:00统计数据为准。
                </div>
            </div>
            <div class="h80px"></div>
            <div class="br2cTitle3 activity161128Title3"></div>
            <div class="br2cRule">
                1、 活动时间：2016年12月1月0点——2017年1月4日17点；
                <br> 2、 您好友须通过您的二维码、推荐链接或推荐码注册，您才可获得邀请奖励；
                <br> 3、 奖励发放：
                <br> ① 点币奖励将在好友实名认证后即时发放；
                <br> ② 佣金奖励将根据好友所投资项目的还款方式按期发放至邀请人账户余额；
                <br> ③ 现金奖励将于活动结束后7个工作日内发放至用户绑定银行卡账号；
                <br> ④ 客服将于7个工作日内联系Apple系列豪礼中奖用户注册时填写的手机号码确认寄送地址及完成奖品派发；
                <br> 4、 如邀请人采用技术手段作弊，或邀请注册好友身份异常，一经核实，点理财保留拒绝支付奖励的权利；
                <br> 5、 好友邀请奖励属于劳务报酬所得，点理财不代缴个人所得税，请获得奖励的用户自行缴纳个人所得税；
                <br> 6、 如需帮助请联系客服400-820-2450（工作日9:00—18:00）。
            </div>

            <div class="h60px"></div>
        </div>
    </div>
    <% include ../footer.html%>
