<% include ../header.html%>
    <div class="a161124Bg">
        <div class="a161124Rule">
            活动规则：
            <div class="h20px"></div>
            1、活动时间：2016年12月1日0点 至 2017年1月4日24点；
            <br> 2、3950元返现红包已放入所有用户账户，可在【我的账户】－【我的红包】页面查看红包信息，部分渠道用户将于首次投资成功后3个工作日内获赠返现红包，请注意查收红包短信；
            <br> 3、返现红包仅可在投资指定期限产品后变现，每笔投资最多可变现1个红包，返现红包不可与点币叠加使用；
            <br> 4、红包说明：红包面值等额现金，将在投资成功后（订单完成即可，无需满标）一次性发放到投资用户点理财账户余额中；
            <br> 5、红包有效期为30天，请尽快使用，逾期未使用将自动作废；
            <br> 6、恶意盗刷或者冒用他人身份信息等行为（包括但不限于手机号码、身份证、IP等信息），一经核实，点理财有权立即收回该用户所得收益；
            <br> 7、如需帮助请联系客服电话400-820-2450或加入点理财投资QQ群497174010进行活动咨询。
        </div>
    </div>
    <% include ../footer.html%>