<% include ../header.html%>
    <div class="ac161228Bg">    
       <div class="ac161228Div1">
            自好友注册后的15天（含）内，邀请人将获得好友每笔投资收益的 <span class="ac161228D1Span">10%</span> 作为返现奖金，上不封顶！ （新手福利标除外）
            <br>返现奖金将于项目满标后次日立返账户，可提现。
        </div>    
        <div class="ac161228Div3">
            <div class="ac161228D3Wx"></div>
        </div>
        <div class="ac161228Div2">
            <div class="ac161228D2Div">活动规则</div>
            1、活动时间：2017年3月20日0点 —— 结束时间以公告通知为准；
            <br>2、3月20日之前邀请成功的用户，享受好友注册之日起1年内，好友每笔投资年化金额的0.5%返现；
            <br>3、3月20日之后邀请成功的用户，享受好友注册后15天（含）内每笔投资收益的10%作为返现奖金，上不封顶；
            （新手福利标除外）
            <br>4、如需帮助请联系客服 400-820-2450 或加入点理财投资QQ群 497174010 
             进行活动咨询。
        </div>
    </div>
    <script>
        window.onload = function () {
            window.app.initHeader(1);
        }
    </script>
<% include ../footer.html%>
