<% include ../header.html%>
    <div class="ac170316 ac170316Div1"></div>
    <div class="ac170316 ac170316Div2">
        <a href="/signup"><span class="ac170316Span1"></span></a>
    </div>
    <div class="ac170316 ac170316Div3"></div>
    <div class="ac170316 ac170316Div4">
        <a class="ac170316A" href=""><span class="ac170316Span2"></span></a>
    </div>
<!--
    <div class="ac170316 ac170316Div5"></div>
    <div class="ac170316 ac170316Div6">
        <a href="/productList"><span class="ac170316Span3"></span></a>
        <a href="/productList"><span class="ac170316Span4"></span></a>
    </div>
-->
    <div class="ac170316 ac170316Div7"></div>
    <div class="ac170316 ac170316Div8"></div>
    <div class="ac170316 ac170316Div9"></div>
    <div class="ac170316 ac170316Div10">
        <div class="ac170316Div10Content">
            <p class="fz28px">活动规则</p>
            <p>1、活动时间：2017年3月20日0点 — 结束时间以公告通知为准，本活动仅针对活动期间注册的新用户（部分渠道用户不参与）；</p>
            <p>2、恶意盗刷或者冒用他人身份信息等行为（包括但不限于手机号码、身份证、IP等信息），一经核实，点理财有权立即收回该用户所得收益；</p>
            <p>3、如需帮助请联系客服热线 400-820-2450 或加入点理财投资QQ群 497174010 进行活动咨询。</p>
        </div>
    </div>
    <script>        
        $(document).ready(function() { 
            new DLC.Activity170316();
        });
    </script>
    <% include ../footer.html%>