<% include ../header.html%>
    <div class="fwfbBanner">
        <div style="height: 1300px;"></div>
        <div style="text-align: center;"><a href="/productList"><span class="fwfbButton"></span></a></div>
        <div style="height: 1650px;"></div>
        <div style="text-align: center;"><a href="/productList"><span class="fwfbButton"></span></a></div>
        <div class="fwfbRule">
            1、活动时间：2017年3月1日0时 -- 结束时间以公告通知为准；<br>
            2、本活动返现仅适用于节节升息90天（含）以上期限产品，部分渠道用户首投不参与该活动；<br>
            3、活动期间，用户投资成功，返现现金将于项目满标后次日发放至用户点理财账户余额中；<br>
            4、恶意盗刷或者冒用他人身份信息等行为（包括但不限于手机号码、身份证、IP等信息），一经核实，点理财有权立即收回该用户所得收益；<br>
            5、如需帮助请联系客服电话 400-820-2450 或加入点理财投资QQ群 497174010 进行活动咨询。
        </div>
    </div>
    <script>
        window.onload = function () {
            window.app.initHeader(1);
        }
    </script>
    <% include ../footer.html%>
