<% include ../header.html%>
    <div class="bga161121">
        <div class="a161121Center">
            <div class="a161121CLeft">
                <div class="a161121CLDiv a161121CLDiv3"></div>
                <div class="a161121CLDiv a161121CLDiv4"></div>
                <div class="a161121CLDiv a161121CLDiv5"></div>
                <div class="a161121CLDiv a161121CLDiv2"></div>
                <div class="a161121CLDiv a161121CLDivButton">
                    <div class="a161121CLDB a161121CRLLogin">
                        <div class="a161121CLDLButton a161121CLDLB">
                            <span class="fs24px"><b>立即登录</b></span>
                            <br><span class="colofff450 fs12px">登录后即可抽奖</span>
                        </div>
                    </div>

                    <div class="a161121CLDB a161121CRLNo hide">
                        <div class="a161121CLDLBNo">
                            <span class="fs24px"><b>无法抽奖</b></span>
                            <br><span class="colofff450 fs12px">您的点币不足100</span>
                        </div>
                        <br>
                        <a class="showHowGetPoints" href="javascript:void(0)" style="color:#fefefe;text-decoration:underline;">如何获得点币?</a>
                    </div>
                    <div class="a161121CLDB a161121CRLYes hide">
                        <button class="a161121CLDLButton">
                            <span class="fs24px"><b>立即抽奖</b></span>
                            <br><span class="colofff450 fs12px">100点币/次</span>
                        </button>
                        <br>
                        <br> 您有
                        <span class="colofff450 a161121CRLYSum">0</span>点币，可抽<span class="colofff450 a161121CRLYCount">0</span>次
                    </div>
                </div>
                <div class="a161121CLDiv a161121CLDiv6"></div>
                <div class="a161121CLDiv a161121CLDiv1"></div>
                <div class="a161121CLDiv a161121CLDiv0"></div>
                <div class="a161121CLDiv a161121CLDiv7"></div>
            </div>
            <div class="a161121CRight">
                <div class="a161121CRDiv1">我的中奖记录:<span class="a161121CRDSpan hide">如何领奖 <span class="a161121CRDSRule">?</span></span>
                    <div class="a161121CRDSRShow hide">
                        <div class="a161121CRDSRSHead">领奖规则</div>
                        1、抽中的奖品将在30分钟内发放至中奖者点理财账户
                        <br> 2、如需帮助请联系客服电话 400-820-2450 （工作日：9:00-18:00）
                    </div>
                </div>
                <div class="a161121CRDiv2">
                    <div class="a161121CRD2Div a161121CRD2Login">
                        <div class="a161121CRD2LButton">立即登录</div>
                    </div>
                    <div class="a161121CRD2Div colored577e a161121CRD2NoList hide">
                        暂未中奖，快去抽奖吧~
                    </div>
                    <div class="a161121CRD2Div a161121CRD2List hide">
                    </div>
                </div>
                <div class="a161121CRDiv3">
                    <div class="a161121CRD3Head">中奖记录</div>
                    <div class="a161121CRD3List">
                    </div>
                </div>
            </div>
        </div>
        <div class="a161121Rule">
            抽奖规则：
            <br>1、抽中的奖品将在30分钟内发放至中奖者点理财账户；
            <br>2、加息券、返现券仅限在点理财进行投资使用，逾期未使用将自动作废；现金、点币将直接发放至用户账户余额中； 
            <br>3、持有点币的用户每100点币可抽奖一次，每日用户抽奖次数不限，使用点币抽奖将消耗相应的点币值；
            <br>4、用户通过非法手段获取奖品，经查证属实者，点理财有权取消其获奖资格； 
            <br>5、如需帮助请联系客服热线 400-820-2450（工作日：9:00-18:00）或加入点理财投资QQ群  497174010 进行活动咨询。
        </div>
    </div>
    <div class="howGetPoints hide">
        <div class="expRulebg aHGPWH">
            <div class="expRulebgMain aHGPWH">
                <div class="expRuleHead">点币获得方法
                    <div class="expRuleClose" id="aHGPClose"></div>
                </div>
                <div class="expRuleContent rpContent">
                    <ul>
                        <li>一、注册</li>
                        <li>注册成功后，可获得100点币奖励。</li>
                        <li>&nbsp;</li>
                        <li>二、实名认证</li>
                        <li>实名认证成功后，可获得100点币奖励。</li>
                        <li>&nbsp;</li>
                        <li>三、绑定银行卡</li>
                        <li>绑定成功后，可获得100点币奖励。</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="getPrize hide">
        <div class="expRulebg aGPWH">
            <div class="expRulebgMain aGPWH">
                <div class="h60px">
                    <div class="expRuleClose" id="aGPClose"></div>
                </div>
                <div class="h20px"></div>
                <div class="taCenter fz20px color575757">恭喜您获得</div>
                <div class="prizeNameShow"></div>
                <div class="h20px"></div>
                <div class="h60px taCenter">
                    <button class="doRaffle">再抽一次</button>
                </div>
                <div class="doRaffleNoShow h60px taCenter lh60px hide">您的点币不足100，<a class="showHowGetPoints" href="javascript:void(0)" style="color:#575757;text-decoration:underline;">如何获得点币?</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            new DLC.Activity161121();
        });
    </script>
    <% include ../footer.html%>