<% include ../header.html%>
    <div class="br161107 br161107Div1"></div>
    <div class="br161107 br161107Div2"></div>
    <div class="br161107 br161107Div3"></div>
    <div class="br161107 br161107Div4"></div>
    <div class="br161107 br161107Div5">
        <div class="br161107Div5Content">
            <p class="fz36px">什么是点币</p>
            <br>点币是点理财为答谢用户支持而推出的一项增值服务。
            <br>点币是回馈新老客户的一项优惠计划，不可转让、不可提现。
        </div>
    </div>
    <div class="br161107 br161107Div6"></div>
    <div class="br161107 br161107Div7">
        <div class="br161107Div7Content">
            推荐即得点币：每成功推荐一位好友注册并实名认证，可获得<span class="fz36px colad1200">100</span>点币。
            <br>奖励发放时间：推荐好友实名认证后立即到账。
        </div>
    </div>
    <div class="br161107 br161107Div8"></div>
    <div class="br161107 br161107Div9">
        <div class="br161107Div9Content">
            <p class="fz36px">如何查询点币</p>
            <br>可在【我的账户】-【我的点币】页面查看点币信息
        </div>
    </div>
    <div class="br161107 br161107Div10">
        <div class="br161107Div10Content">
            <p class="fz36px">点币抵扣流程规则</p>
            <br><span>1. </span>活动时间：2016年11月7日-2016年11月30日
            <br><span>2. </span>除“新手体验标”外，平台产品均可使用点币
            <br><span>3. </span>点币使用步骤：
            <br><span> </span>a. 进入所投项目“确认支付”页面，若账户中存在可使用的点币，可在支付信息中
            <br><span> </span>选择“使用点币抵扣” （*持有红包的用户，默认只可使用红包）
            <br><span> </span>b.系统将自动显示用户可使用的点币数量，请输入您想使用的点币数量
            <br><span> </span>c. 成功使用点币，投资应付总额中将减去使用点币抵扣的金额
            <br><span> </span>d.点币抵扣的金额根据不同产品、不同比例而定，抵扣比例以页面显示为准
            <br><span>4. </span>点币有效期至每年公历12月31日，过期将自动清零，请在有效期内进行使用
            <br><span>5. </span>如需帮助请联系在线客服或拨打客服电话
            <br><span> </span>400-820-2450。
        </div>
    </div>
    <% include ../footer.html%>