<div class="auMAdDiv auMAdDbgc">
    <div class="auMAdContent">
        <div class="auMAdCLong">
            <div class="auMAdCHead">背景强大 | 实力大家</div>
            <div class="auMAdCP">
                <p>1.上市公司智城控股（股票代码 08130-HK）旗下互联网金融信息平台</p>
                <br>
                <p>2.股东中国支付通，中国最优秀的智能支付与小微金融公司，目标五年内匹敌“支付宝”和“微信支付”两大行内龙头</p>
                <br>
                <p>3.管理团队由具有逾十年市政公用基础设施和特许经营项目运作经营的高级管理人员组成，主导的大型市政项目投资额已超百亿</p>
            </div>
        </div>
        <div class="auMAdCShort">
            <div class="auMadCImg1"></div>
        </div>
    </div>
</div>
<div class="auMAdDiv">
    <div class="auMAdContent h350px">
        <div class="auMAdCShort">
            <div class="auMadCImg2"></div>
        </div>
        <div class="auMAdCLong">
            <div class="auMAdCHead">项目稳健 | 规范行家</div>
            <div class="auMAdCP">
                <p>1. 强强联合央企国企，与大型央企国企共同筹备投资计划</p>
                <br>
                <p>2. 专注市政PPP项目，成功投资市政项目逾百亿元</p>
                <br>
                <p>3. 担保措施：政府承诺函、承诺回购函、不可撤销担保函、土地抵押、信托担保</p>
                <br>
                <p>4. 投资所得回报：稳健收益+社会价值</p>
            </div>
        </div>
    </div>
</div>
<div class="auMAdDiv auMAdDbgc">
    <div class="auMAdContent">
        <div class="auMAdCLong">
            <div class="auMAdCHead">风控严格 | 风控专家</div>
            <div class="auMAdCP">
                <p>1、凝聚了一批专业的具有金融和大数据背景的超强风控团队</p>
                <br>
                <p>2、拥有成熟、严谨的风险控制评估管理体系，采用与银行等
                    <br>大型金融机构一致的风控审查标准</p>
                <br>
                <p>3、通过十重风控流程，全方位把控项目风险，保障出借人的
                    <br>资金安全</p>
            </div>
        </div>
        <div class="auMAdCShort">
            <div class="auMadCImg3"></div>
        </div>
    </div>
</div>
<div class="auMAdDiv">
    <div class="auMAdContent h350px">
        <div class="auMAdCShort">
            <div class="auMadCImg4"></div>
        </div>
        <div class="auMAdCLong">
            <div class="h270px">
                <div class="auMAdCHead">账户安全 | 安全管家</div>
                <div class="auMAdCP">
                    <p>1. 用户投资资金流转宝付第三方平台，每一笔资金流动都清晰可控</p>
                    <br>
                    <p>2. 资金交易过程有太平洋保险CPIC提供安全保障</p>
                    <br>
                    <p>3. 设备运行于顶级数据中心，配合三层防火墙、入侵防范等数十种安全服务保护措施</p>
                    <br>
                    <p>4. 采用Bcrypt，RSA等加密算法，保证服务器端密码安全，防止未经授权的任何人获取用户信息</p>
                </div>
            </div>
        </div>
    </div>
</div>