<div class="auCenterMenu">
    <div class="auCMDiv">
        <div class="auCMOne">
            <span class="auCMOSpan" id="aboutUsA">公司简介</span>
        </div>
        <div class="auCMOne">
            <span class="auCMOSpan" id="aboutUsH">平台优势</span>
        </div>
        <div class="auCMOne">
            <span class="auCMOSpan" id="aboutUsF">最新公告</span>
        </div>
        <div class="auCMOne">
            <span class="auCMOSpan" id="aboutUsG">新闻动态</span>
        </div>
        <div class="auCMOne">
            <span class="auCMOSpan" id="aboutUsD">媒体报道</span>
        </div>
        <div class="auCMOne">
            <span class="auCMOSpan" id="aboutUsE">联系我们</span>
        </div>
    </div>
</div>
<div class="aboutUsBanner">
    <div class="auCBDiv"></div>
</div>
<div class="aboutUsBg">
    <div class="aboutUsMain">
        <div class="h12px"></div>
        <div class="aboutUsRightMain" id="aboutUsRightMain">

        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<!--
<div class="aboutUsStyle">
    <div class="pannel">
        <div class="first">
            <div class="block">
                <span class="icon icon_1"></span>
                <ul>
                    <li class="title">上市公司全资子公司</li>
                    <li>母公司：智城控股(08130-HK)</li>
                </ul>
            </div>
            <div class="block">
                <span class="icon icon_2"></span>
                <ul>
                    <li class="title">强大的股东背景</li>
                    <li>中国支付通&国投瑞银资产</li>
                </ul>
            </div>
            <div class="block">
                <span class="icon icon_3"></span>
                <ul>
                    <li class="title">强强联合央企国企</li>
                    <li>与大型央企、国企共同参与投资</li>
                </ul>
            </div>
            <div class="block">
                <span class="icon icon_4"></span>
                <ul>
                    <li class="title">专注市政PPP项目</li>
                    <li>成功投资市政项目逾百亿元</li>
                </ul>
            </div>
        </div>
    </div>
</div>-->
