<div class="h12px"></div>
<div class="aboutCommon aMother"><span>股东介绍</span>
    <div class="aboutCommonLine"></div>
</div>
<div class="aGDLogo">
    <img src="/images/aboutCenter/martpay.png">
</div>
<div class="rDescribe">
    <p class="col57">中国支付通集团控股有限公司是一家拥有稀缺牌照的智能支付和小微金融类上市公司 （8325.HK）。公司拥有全国性预付卡牌照和互联网支付牌照，掌握业内领先的智能云POS技术和系统，打造行业内最优秀的团队及技术，与知名战略伙伴合作，引领行业发展。中国支付通的支付业务将以预付卡业务为基础，大力发展互联网支付、移动支付、O2O等业务，竭诚为C端客户服务，以建立和管理庞大的实名账户体系，长远将以此基础打造综合性个人金融服务平台。</p>
</div>
<!--
<div class="aGDLogo">
    <img src="/images/aboutCenter/UBSSDIC.png">
</div>
<div class="rDescribe">
    <p class="col57">国投瑞银基金管理有限公司是中国第一家外方持股比例达到最高上限（49%）的合资基金管理公司（公司前身为成立于2002年6月的中融基金管理有限公司）。公司股东为全球领先的瑞士银行集团及国投信托有限公司（国家开发投资公司的全资子公司）。公司的目标是建立在品牌认知、公司规模、投资业绩、产品创新、诚信声誉均达到一流的资产管理公司。</p>
</div>-->
