<div class="aboutCommon comMarO" style="margin-bottom: 0px;"><span>集团介绍</span>
    <div class="aboutCommonLine"></div>
</div>
<div class="rDescribe aboutMotherTitle">
    <p>智城控股与大型央企和国企强强联合，成立合资公司，共同投资政府项目，与北控、华电、中铁等进入合资公司注册成立阶段。</p>
</div>
<div class="aboutCommon aMother"><span>北控&智城</span>
    <div class="aboutCommonLine"></div>
</div>
<div class="rDescribe aMCom">
    <div class="aMImg aMImgOne"></div>
    <div class="aMWord">
        <p>北控医疗健康产业有限公司（香港上市代码：2389）为北京控股集团有限公司旗下主要从事提供养老、医疗及健康相关之服务及产品的子公司</p>
        <p>北控医疗与智城成立合资公司北控长城医疗健康开发有限公司，以医疗健康、养老和医养结合项目为依托，开发、参与及投资医养类PPP项目</p>
        <p>合资公司与各地政府共同设立和管理医养行业方面的产业扶持基金</p>
    </div>
</div>
<div class="aboutCommon aMother"><span>中铁&智城</span>
    <div class="aboutCommonLine"></div>
</div>
<div class="rDescribe aMCom">
    <div class="aMImg aMImgTwo"></div>
    <div class="aMWord">
        <p>中铁工程装备集团有限公司是国内专业制造适应不同地质的盾构、硬岩掘进机等隧道设备的高新技术企业，隶属于全球企业500强和世界品牌500强企业--中国中铁股份有限公司</p>
        <p>中铁装备与智城成立合资公司中铁智城地下空间产业发展有限公司，共同发展城市综合管廊和底下管网，建设运营海绵城市，建设运营地下交通设施，开发地下商业，共同投资综合管廊和海绵城市相关PPP项目</p>
        <p>合资公司与各地政府共同设立管理地下综合管廊行业方面的产业扶持基金</p>
    </div>
</div>
<div class="aboutCommon aMother"><span>华电&智城</span>
    <div class="aboutCommonLine"></div>
</div>
<div class="rDescribe aMCom">
    <div class="aMImg aMImgThree"></div>
    <div class="aMWord">
        <p style="padding-top: 10px;">中国华电集团公司是2002年底国家电力体制改革组建的全国性五家国有独资发电企业集团之一，属于国务院国资委监管的特大型中央企业，2015年在世界500强排名第345位</p>
        <p>华电与智城成立合资公司，共同投资能源行业相关的PPP项目，合资公司与各地政府共同设立和管理能源行业方面的产业扶持基金</p>
    </div>
</div>
<div class="aboutCommon aMother"><span>上海国际集团、上实、上报&智城</span>
    <div class="aboutCommonLine"></div>
</div>
<div class="rDescribe aMCom aMComMar">
    <div class="aMImg aMImgFour"></div>
    <div class="aMWord">
        <p style="padding-top: 50px;">与上海实业(集团)有限公司、上海报业集团等大型上海国企共同投资上海瑞力商业保理有限公司 </p>

    </div>
</div>
<div class="rDescribe aMCom aMComMar">
    <div class="aMImg aMImgFive"></div>
    <div class="aMWord">
    </div>
</div>
<div class="rDescribe aMCom aMComMar">
    <div class="aMImg aMImgSix"></div>
    <div class="aMWord">
        <p style="padding-top: 40px;">与上海国际集团、上实、上报等大型国企共同投资上海瑞力投资基金管理有限公司</p>
        <p>与各地政府成立百亿级产业扶持基金 </p>
    </div>
</div>
<div class="aboutCommon aMotherTwo"><span>市政项目</span>
    <div class="aboutCommonLine"></div>
</div>
<div class="rDescribe aMSecond">
    <p>在投资项目开发方面，公司成功投资了大量市政公用基础设施项目，在交通、能源、水务、固废等方面积累了丰富的业绩和运作经验。主导的大型市政项目包括：</p>
</div>
<div class="rDescribe">
    <div class="proList">
        <div class="aboutNum">1</div>
        <div class="numWord">北京海淀区循环经济产业园PPP项目（投资16亿元）</div>
    </div>
    <div class="proList c">
        <div class="aboutNum">2</div>
        <div class="numWord">哈尔滨双琦生活垃圾焚烧发电 BOT 项目股权收购（投资 7.5 亿元）</div>
    </div>
    <div class="proList c">
        <div class="aboutNum">3</div>
        <div class="numWord">咸阳生活垃圾综合处理 BOO 项目股权收购（投资 7.5 亿元）</div>
    </div>
    <div class="proList c">
        <div class="aboutNum">4</div>
        <div class="numWord">海口白沙门长流污水处理 BOT 项目（投资 3 亿元）</div>
    </div>
    <div class="proList c">
        <div class="aboutNum">5</div>
        <div class="numWord">上海外环隧道项目（15.7亿元）</div>
    </div>
    <div class="proList c">
        <div class="aboutNum">6</div>
        <div class="numWord">上海复兴路隧道项目（12.68亿元）</div>
    </div>
    <div class="proList c">
        <div class="aboutNum">7</div>
        <div class="numWord">杭州萧山6万吨污水处理项目</div>
    </div>
</div>