<div class="investBg">
    <div class="investB1"></div>
    <div class="investB2">
        <a href="/productList" class="ibA1 bth">赢取抽奖机会</a>
        <div class="ib2Div1">
            <span class="ib2d1s1">1、</span><span>抽奖礼品奖池共分为5级，用户单笔投资金额达到对应奖池门槛，可获得该奖池一次抽奖机会。</span>
            <br>
            <span class="ib2d1s1"> </span><span>奖池等级越高，奖池中礼品价值越高，100%中奖。</span>
            <br>
            <br>
            <span class="ib2d1s1">2、</span><span>用户多笔投资金额均符合活动要求，可获得多次抽奖机会，多投多抽，上不封顶。</span>
        </div>
    </div>
    <div class="investB3">
        <div class="h180px"></div>
        <div class="ib3Div1">
            <div class="ib3dDiv mr12px">
                <div class="ib3ddDiv ib3ddjs11 ib3ddShow"><span>10元话费</span>
                </div>
                <div class="ib3ddDiv ib3ddjs12 ib3ddShow"><span>500点币</span>
                </div>
                <div class="ib3ddDiv ib3ddjs13 ib3ddShow"><span>5000元体验金</span>
                </div>
                <a class="ibd3db bth" tag="1">点击抽奖</a>
                <br>
                <span class="ib3ddss">抽奖机会<span class="ib3ddss1">0</span>次</span>
            </div>
            <div class="ib3dDiv mr12px">
                <div class="ib3ddDiv ib3ddjs21 ib3ddShow"><span>创意抱枕</span>
                </div>
                <div class="ib3ddDiv ib3ddjs22 ib3ddShow"><span>鹅卵石足底按摩垫</span>
                </div>
                <div class="ib3ddDiv ib3ddjs23 ib3ddShow"><span>颈椎肩按摩器</span>
                </div>
                <a class="ibd3db bth" tag="2">点击抽奖</a>
                <br>
                <span class="ib3ddss">抽奖机会<span class="ib3ddss2">0</span>次</span>
            </div>
            <div class="ib3dDiv mr12px">
                <div class="ib3ddDiv ib3ddjs31 ib3ddShow"><span>小田蒸汽拖把</span>
                </div>
                <div class="ib3ddDiv ib3ddjs32 ib3ddShow"><span>Ocim全身按摩垫</span>
                </div>
                <div class="ib3ddDiv ib3ddjs33 ib3ddShow"><span>碧然德净水壶</span>
                </div>
                <a class="ibd3db bth" tag="3">点击抽奖</a>
                <br>
                <span class="ib3ddss">抽奖机会<span class="ib3ddss3">0</span>次</span>
            </div>
            <div class="ib3dDiv mr12px">
                <div class="ib3ddDiv ib3ddjs41 ib3ddShow"><span>碧然德即热水壶</span>
                </div>
                <div class="ib3ddDiv ib3ddjs42 ib3ddShow"><span>小米空气净化器</span>
                </div>
                <div class="ib3ddDiv ib3ddjs43 ib3ddShow"><span>科沃斯灵犀扫地机器人</span>
                </div>
                <a class="ibd3db bth" tag="4">点击抽奖</a>
                <br>
                <span class="ib3ddss">抽奖机会<span class="ib3ddss4">0</span>次</span>
            </div>
            <div class="ib3dDiv">
                <div class="ib3ddDiv5 ib3ddjs51 ib3ddShow"><span>科沃斯朵朵S扫地机器人</span>
                </div>
                <div class="ib3ddDiv5 ib3ddjs52 ib3ddShow"><span>美的智能台式洗碗机</span>
                </div>
                <a class="ibd3db bth" tag="5">点击抽奖</a>
                <br>
                <span class="ib3ddss">抽奖机会<span class="ib3ddss5">0</span>次</span>
            </div>
        </div>
    </div>
    <div class="investB4">
        <div class="ib4Div1">
            <div class="ib4dd hide">
                我要赢大礼包&nbsp;&nbsp;<a href="/productList" class="ib4ddA1">赢取抽奖机会</a>
            </div>
        </div>
        <div class="ib4Div2">
            <div class="ib4d2Div ib4d2MyNo">
                暂无获奖记录，速来赢取抽奖机会
                <br>
                <a href="/productList" class="ib4d2dA1 bth">赢取抽奖机会</a>
            </div>
            <div class="h40px ib4d2Yes hide"></div>
            <div class="ib4d2Div2 ib4d2MyYes hide">
            </div>
            <div class="h40px"></div>
            <div class="ib4d2Div2 ib4d2List">
                <div class="ib4d2List2"></div>
            </div>
        </div>
    </div>
    <div class="investB5">
        <div class="ib5DivHead">活动规则</div>
        <div class="ib5DivContent">
            <span class="ibdcS1">1、</span>活动时间：2016年9月13日00:00——2016年10月31日 24:00
            <br>
            <br><span class="ibdcS1">2、</span>抽奖礼品奖池共分为5级，用户单笔投资金额达到对应奖池门槛，可获得该奖池一次抽奖机会。
            <br><span class="ibdcS1"> </span>奖池等级越高，奖池中礼品价值越高。（投资新手体验标不参与抽奖活动）
            <br>
            <br><span class="ibdcS1">3、</span>此活动仅限投资90天（含）期限以上产品，单笔投资满额次数越多，抽奖机会越多，上不设限。
            <br><span class="ibdcS1"> </span>抽奖次数将在活动结束后自动清零，请及时使用。
            <br>
            <br><span class="ibdcS1">4、</span>所有奖品统一在用户中奖后7个工作日内发放：
            <br><span class="ibdcS1"> </span>a、点币、体验金：发放至点理财账户，可在【我的账户】查看；
            <br><span class="ibdcS1"> </span>b、话费：充值至中奖用户注册时填写的手机号码；
            <br><span class="ibdcS1"> </span>c、实物奖品：客服会联系中奖用户注册时填写的手机号码确认寄送地址及奖品完成派发；
            <br><span class="ibdcS1"> </span>d、奖品一律不予退换，不予兑换现金。
            <br>
            <br><span class="ibdcS1">5、</span>渠道用户首次投资不参与本活动。恶意刷奖或者冒用他人身份信息等行为（包括但不限于手机号码、身份证、IP等信息），
            <br><span class="ibdcS1"> </span>一经核实，点理财有权立即收回该用户所得奖励。
            <br>
            <br><span class="ibdcS1">6、</span>如有疑问请联系 在线客服 或 拨打客服电话 400-820-2450。
        </div>
    </div>
</div>
<div></div>
<div id="lotteryDraw" class="ibLotteryDraw ibldBg1 hide">

</div>
<div id="lotteryDraw2" class="ibLotteryDraw2 ibldBgZj1 hide">

</div>