<div class="rbpBg">
    <div class="rbp1"></div>
    <div class="rbp2">
        <a href="/myCenter_userRefer" class="rbp2A1 bth">速去邀请好友</a>
        <br>
        <a href="/myCenter_userRefer/refList" class="rbp2A2">查看推荐明细</a>
        <br>
        <span class="rbp2S1 mt1px">奖励一：注册认证奖 就是这么简单</span>
        <div class="rbp2Div1">
            每邀请一位好友注册并完成实名认证
            <br> 您可获得
            <span class="rbp2DS2">100点币奖励</span>
            <br> 好友可获得
            <span class="rbp2DS2">注册+首投奖励</span>（详见官网活动）
        </div>
        <span class="rbp2S1 mt1px">奖励二：邀请好友投资 奖励享不停</span>
        <div class="rbp2Div2">
            自好友注册起1年（365天）内，您可获得好友每笔投资年化金额的0.5%。
        </div>
        <div class="rbp2Div3">
            邀请越多，奖励越多，上不封顶！
        </div>
        <span class="rbp2SS1 wpl1">推荐实名认证</span>
        <span class="rbp2SS1 wpl2">投资10万元</span>
        <br>
        <span class="rbp2SS1 wpl3">100点币</span>
        <span class="rbp2SS1 wpl4">投资获得收益1879.45元</span>
        <div class="rbph1"></div>
        <span class="rbp2SS2">您的邀请奖金等于您的好友投资金额x投资项目天数÷365天x0.5%（新手体验标不参与本活动）</span>
        <br>
        <span class="rbp2SS1">您的邀请奖金=10万x98天÷365天x0.5%=134.24元</span>
    </div>
    <div class="rbp3 hide">
        <span class="rbp2S1 mt2px">奖励三：邀请英雄榜 最高享2888现金</span>
        <br>
        <span class="rbp2S2 mt3px">活动期间累计有效邀请好友≥15人，且最终邀友排行前三者，再送现金豪礼。</span>
        <br>
        <span class="rbp2S2">温馨提示：被邀请人截止活动结束单笔投资金额满1000元，算一个有效投资。</span>
        <div class="rbp3Div1">
            <span class="rbp2DS1">现金2888元</span>
            <span class="rbp2DS1">现金1888元</span>
            <span class="rbp2DS1">现金888元</span>
        </div>
        <div class="rbp3Div2">
            想要get现金豪礼！
            <a href="/myCenter_userRefer">
                <div class="rbp3A1"> 速邀好友助力></div>
            </a>
        </div>
        <div class="rbp3Div3">
            <div class="rbp3Div3Head">
                <span class="rbp3dhs rbpdw1px">用户名</span>
                <span class="rbp3dhs rbpdw2px">有效邀请人数</span>
                <span class="rbp3dhs rbpdw3px">现金豪礼</span>
                <span class="rbp3dhs rbpdw4px">最后邀请时间</span>
            </div>
            <div class="rbp3Div3Content" id="rbp3Div3Content">
            </div>
        </div>
        <div class="rbp3Div3Bottom">
            以上数据实时更新，最终排名请以活动结束时间2016年10月11日17:00统计数据为准。
        </div>
    </div>
    <div class="rbp4">
        <span class="rbp2S1 mt4px">活动规则</span>
        <div class="rbp4Div">
            <span class="rbp4dS">1、</span>“注册认证奖”和“邀请好友投资”这两项活动长期有效。
            <br><span class="rbp4dS">2、</span>您好友须通过您的二维码、推荐链接或推荐码注册，您才可获得邀请奖励；
            <br><span class="rbp4dS">3、</span>奖励发放：
            <br><span class="rbp4dS"> </span>①&nbsp;&nbsp;&nbsp;&nbsp;奖励一：点币奖励将在好友实名认证后即时发放；
            <br><span class="rbp4dS"> </span>②&nbsp;&nbsp;&nbsp;&nbsp;奖励二：邀请奖励将根据好友所投资项目的还款方式按期发放至邀请人账户余额；
            <br><span class="rbp4dS">4、</span>如邀请人采用技术手段作弊，或邀请注册好友身份异常，一经核实，点理财保留拒绝支付奖励的权利；
            <br><span class="rbp4dS">5、</span>好友邀请奖励属于劳务报酬所得，点理财不代缴个人所得税，请获得奖励的用户自行缴纳个人所得税；
            <br><span class="rbp4dS">6、</span>如需帮助请联系客服400-820-2450（工作日9:00—18:00）。
        </div>
    </div>
</div>