<div class="h28px"></div>
<div class="qcrmHead">············································ 关于银行卡 ············································</div>
<div class="h40px"></div>

<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">1.</div>
    </div>
    <div class="qcTitle">我该如何绑定银行卡？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        点击“<span>我的账户</span>”中的“<span>绑定银行卡</span>”选项，输入您的银行卡相关信息即可绑定，并且银行卡<span>开户人必须和实名信息一致</span>。
    </div>
</div>
<div class="h30px"></div>


<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">2.</div>
    </div>
    <div class="qcTitle">已绑定的银行卡能换绑吗？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        为了保障账户资金安全，<span>每个账户只能绑定一张银行卡</span>，并且已绑定的银行卡是<span>不能进行更换</span>的，所以客户绑定银行卡时需谨慎。如银行卡遗失，建议到发卡行办理补卡，或办一张继承了旧卡所有业务的新卡，并<span>联系客服</span>寻求帮助，绑定成功后即可激活账户提现功能。
    </div>
</div>
<div class="h30px"></div>