<div class="h28px"></div>
<div class="qcrmHead">············································ 关于投资 ············································</div>
<div class="h40px"></div>

<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">1.</div></div>
    <div class="qcTitle">如何购买产品？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">平台所有未满标的产品均可购买，点击<span>“立即投资”</span>，输入“投资金额”及“交易密码”即可购买。（备注：我们是账户余额和银行进行合并支付，所以余额不足但他银行卡有钱就可以购买成功）
    </div>
</div>
<div class="h30px"></div>

<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">2.</div></div>
    <div class="qcTitle">投资是否收取手续费？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
    现在平台处于推广优惠期，对所有客户<span>均不收取</span>投资手续费。
    </div>
</div>
<div class="h30px"></div>

<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">3.</div></div>
    <div class="qcTitle">我能取消我的一笔投资吗？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
    投资项目的招标期内，您投资的资金会被冻结，<span>不能取消</span>这主要是为了保护所有投资者和借款方的利益。
    </div>
</div>
<div class="h30px"></div>

<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">4.</div></div>
    <div class="qcTitle">我购买的产品在募集期内没有满标怎么办？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
    如果在募集期内收到足够的资金，那么所有的冻结资金就会<span>自动转入</span>借款人的账户。如果在募集期内没有满标，那么之前冻结的资金就会<span>退回</span>到客户的账户中，客户可选择再次购买或者提现。
    </div>
</div>
<div class="h30px"></div>

<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">5.</div></div>
    <div class="qcTitle">我投资了之后你们给我合同吗？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
    产品募集完毕后，系统会生成一份<span>电子合同</span>，可以在您的账户中查看合同内容。按照《合同法》的规定，电子合同与纸质合同<span>具有同样的法律效力</span>，所以请您放心。
    </div>
</div>
<div class="h30px"></div>

<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">6.</div></div>
    <div class="qcTitle">同一份产品我可以多次购买吗？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
    在产品募集期间并且剩余募集期额度充足的情况下，同一份产品<span>可以进行多次购买</span>，并且每<span>购买一次即会生成一张订单及一份债权转让合同</span>。
    </div>
</div>
<div class="h30px"></div>
