<div class="h28px"></div>
<div class="qcrmHead">············································ 关于账户 ············································</div>
<div class="h40px"></div>

<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">1.</div>
    </div>
    <div class="qcTitle">我该如何注册成点理财的用户？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        <span>填写11位手机号码</span>注册为用户账号，填写后<span>点击发送</span>手机验证码，输入手机收到的<span>6位数验证码</span>，并设置密码，密码由<span>8至16为数字和字母</span>组成，确认无误后点击注册验证通过即可<span>完成注册</span>。
    </div>
</div>
<div class="h30px"></div>


<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">2.</div>
    </div>
    <div class="qcTitle">我注册了但是收不到验证码怎么办？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        a.请确认手机是否安装短信拦截或过滤软件；
        <br> b.请确认手机是否能够正常接收短信（信号问题、欠费、停机等）；
        <br> c.短信收发过程中可能会存在延迟，请耐心等待；
        <br> d.您还可以联系客服，请拨点理财服客服电话（
        <span>400-820-2450</span>）。
    </div>
</div>
<div class="h30px"></div>


<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">3.</div>
    </div>
    <div class="qcTitle">我该如何登录网站？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        输入注册时的<span>11位手机号码、密码及图形验证码</span>，输入正确方可登入。
    </div>
</div>
<div class="h30px"></div>


<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">4.</div>
    </div>
    <div class="qcTitle">我的账号密码忘记了，该如何找回？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        在登录页面点击“忘记密码”，输入注册手机号码，输入图形验证码，再点击“获取验证码”，输入手机收到的验短信证码，然后两次输入新的登录密码，并点击“确认”，验证通过就可以完成登录密码重置了。
    </div>
</div>
<div class="h30px"></div>


<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">5.</div>
    </div>
    <div class="qcTitle">注册完毕后如何实名认证？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        登入后系统会自动提示需要进行实名认证，或者点击“<span>我的账户</span>”中的“<span>实名认证</span>”的选项，输入用户真实姓名及身份证号码即可认证成功。认证通过后无法修改信息，请谨慎填写。
    </div>
</div>
<div class="h30px"></div>


<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">6.</div>
    </div>
    <div class="qcTitle">我能申请多个账户吗？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        账户和实名信息是<span>一对一的绑定关系</span>，为了确保账户信息的唯一性，保护您的投资安全，<span>同一个身份证号码不能注册两个账号</span>。
    </div>
</div>