<div class="h28px"></div>
<div class="qcrmHead">············································ 关于充值 ············································</div>
<div class="h40px"></div>

<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">1.</div></div>
    <div class="qcTitle">如何充值？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">点击“<span>我的账户</span>”中的“<span>充值</span>”按钮，在个人网银充值界面选择所绑定得银行卡对应的银行，输入“充值金额”及“交易密码”，点击“确认”，确认充值后页面会跳转至对应银行充值页面，请根据实际操作完成充值。
    </div>
</div>
<div class="h30px"></div>


<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">2.</div></div>
    <div class="qcTitle">充值到账时间需要多久？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">充值成功后资金会<span>立即到用户账户</span>中。不排除在充值高峰期，到账时间会延迟，请以<span>实际到账时间</span>为准。充值金额限制根据每个银行的<span>单笔日限</span>规则进行限制。
    </div>
</div>
<div class="h30px"></div>


<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">3.</div></div>
    <div class="qcTitle">充值需要收费吗？充值有金额限制吗？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">充值<span>不需要</span>收取手续费，单笔充值金额必须<span>大于等于</span>2元。
    </div>
</div>
<div class="h30px"></div>


<div class="qcAsk">
    <div class="qcPoit"><div class="pl5px">4.</div></div>
    <div class="qcTitle">充值银行卡和提现银行卡是否必须是同一张？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">为了更加稳定牢固的确保用户资金的绝对安全性，平台规定充值与提现都必须用客户所绑定的<span>同一张银行卡</span>进行相关操作。
    </div>
</div>
<div class="h30px"></div>