<div class="h28px"></div>
<div class="qcrmHead">············································ 收益和赎回 ············································</div>
<div class="h40px"></div>

<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">1.</div>
    </div>
    <div class="qcTitle">收益是什么时候开始计算的？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">为了综合平衡借款人和投资者双方的利益，所有客户的<span>利息</span>都是从借款<span>满标次日起</span>开始计算的。
    </div>
</div>
<div class="h30px"></div>

<!--
<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">2.</div>
    </div>
    <div class="qcTitle">你们的收益怎么计算的呢？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        <span>投资收益=投资本金x年化收益率/365x投资天数</span>。您也可以使用平台右侧的收益计算器，输入投资金额即可自动算出该产品到期后的收益。
    </div>
</div>
<div class="h30px"></div>
-->

<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">2.</div>
    </div>
    <div class="qcTitle">你们网站投资项目的还款方式是怎样的？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        根据所投资产品类型所约定的还款条件而定，还款方式共有<span>三种</span>，分别为：<span>一次性到期还本付息</span>；<span>按月付息到期还本付息</span>；
        <span>按季付息到期还本付息</span>。
    </div>
</div>
<div class="h30px"></div>

<div class="qcAsk">
    <div class="qcPoit">
        <div class="pl5px">3.</div>
    </div>
    <div class="qcTitle">投资的产品到期之后如何赎回？</div>
</div>
<div class="h20px"></div>
<div class="qcAnswer">
    <div class="qcAnswerPoint">答：</div>
    <div class="qcAnswerText">
        产品赎回到期当日清算人员将进行清算后<span>T+1日资金</span>会<span>回到用户平台账户</span>中，用户可选择提现或再次投资。
    </div>
</div>
<div class="h30px"></div>
