<div class="userCenterRightMainTop">
    <div class="ucrmtSty">登录密码</div>
    <div class="ucrmtImgSty ucrmtImg4"></div>
</div>
<div class="h34px"></div>
<div class="hl20px pl310px pt5px ucelpShowErr" id="showErr"></div>
<div class="pl150px">
    <div class="h46px mr30px floatl w100px aginr">原登录密码</div>
    <div class="h46px floatl w352px posr">
        <input type="password" id="oldPassword" class="inputUCELPPassword" placeholder="请输入原登录密码" maxlength="16">
        <div class="ucelpEye eye" id="oldEye"></div>
    </div>
</div>
<div class="hl20px pl310px pt5px ucelpShowErr" id="oldPwdShowErr"></div>
<div class="pl150px">
    <div class="h46px mr30px floatl w100px aginr">新登录密码</div>
    <div class="h46px floatl w352px posr">
        <input type="password" id="newPassword" class="inputUCELPPassword" placeholder="请输入新登录密码" maxlength="16">
        <div class="ucelpEye eye" id="newEye"></div>
    </div>
</div>
<div class="hl20px pl310px pt5px ucelpShowErr" id="newPwdShowErr"></div>
<div class="pl150px">
    <div class="h46px mr30px floatl w100px aginr">确认新密码</div>
    <div class="h46px floatl w352px posr">
        <input type="password" id="newAgainPassword" class="inputUCELPPassword" placeholder="请再次输入新登录密码" maxlength="16">
        <div class="ucelpEye eye" id="newAgainEye"></div>
    </div>
</div>
<div class="hl20px pl310px pt5px ucelpShowErr" id="newAgainPwdShowErr"></div>
<div class="h34px"></div>
<div class="pl280px">
    <input type="button" id="editBotton" class="inputUCELPBotton" value="确认修改">
</div>
<!--[if IE]> 
<script>
    $("#oldEye").removeClass("ucelpEye eye");
    $("#newEye").removeClass("ucelpEye eye");
    $("#newAgainEye").removeClass("ucelpEye eye");
</script>
<![endif]-->