<div class="experience-prod page">
	<div class="wrap">
		<p class="nav">
			<span>你的当前位置：</span><a href='/' style="color:#398de1;">首页</a>><a href='/productList'  style="color:#398de1;">我要投资</a>><span>投资详情页</span>
		</p>
		<div class="context">
			<div class="b1 b">
				<p class="title">
					<span class="icon"></span>
					<span class="label" id="prodName"></span>
				</p>
				<div class="w">
					<div class="prod-num">
						<div class="item" style="margin-right:150px">
							<p class="num red"><span id="expectYearReturn"></span><span class="s">%</span></p>
							<p class="label">年化</p>
						</div>
						<div class="item" style="margin-right: 150px">
							<p class="num"><span id="productPeriod"></span><span class="s">天</span></p>
							<p class="label">投资期限</p>
						</div>
						<div class="item">
							<p class="num"><span id="investCount"></span><span class="s">人</span></p>
							<p class="label">体验人数</p>
						</div>
					</div>
					<div class="prod-btn" style="text-align:center">
						<input type="button" id="toExperience" class="blueBtn" disabled value="立即体验" />
					</div>
					<div class="tips">此项目为引导新用户体验的虚拟投资模式，让您在体验中感受投资乐趣，到期收益可领取，本金由系统收回。</div>
				</div>
			</div>
			<div class="ex_icon_3 ex_icon"></div>
		</div>
		<div class="middle-div"></div>
		<div class="tab-pannel">
			<div class="top">
				<div class="tab first" id="tab1">
					<span>产品说明</span>
				</div>
				<!-- <div class="tab " id="tab2">
					<span>项目附件</span>
				</div> -->
				<div class="tab last" id="tab3">
					<span>投资记录</span>
				</div>
			</div>
			<div class="details">
				<div id="detail1" class="detail">
					<p class="title">
						<span class="icon icon1"></span>
						<span class="label">产品介绍</span>
					</p>
					<div class="detail-context" id="prodIntroduce"></div>
					<!-- <p class="title">
						<span class="icon icon2"></span>
						<span class="label">资金用途</span>
					</p>
					<div class="detail-context" id="prodUsage"></div>
					<p class="title">
						<span class="icon icon3"></span>
						<span class="label">投资亮点</span>
					</p>
					<div class="detail-context" id="prodStrengths"></div> -->
				</div>
				<!-- <div id="detail2" class="detail">
					<p class="title">
						<span class="icon icon4"></span>
						<span class="label">合同范本</span>
					</p>
					<div class="detail-image" id="prodContract"></div>
					<p class="title">
						<span class="icon icon5"></span>
						<span class="label">项目附件</span>
					</p>
					<div class="detail-image" id="prodAttacheds"></div>
				</div> -->
				<div id="detail3" class="detail">
					<p class="title">
						<span class="c c1">用户名</span>
						<span class="c c2">购买时间</span>
						<span class="c c3">购买金额</span>
					</p>
					<div id="tradeRecords" class="tradeRecords">

					</div>
					<div class="paging-pannel">
						<div id="tradeRecordsPagination" class="pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
