<div class="ucETop">
    <div class="ucEToph25px"></div>
    <div class="ucETopMain">
        <div class="ucETopMainCell">
            <div class="ucetmc1"><span id="sumCon">0.00</span><span class="ucetmcSpan">元</span>
            </div>
            <div class="ucetmc2">当前体验金</div>
        </div>
        <div class="ucETopMainCell ucemcCenter">
            <div class="ucetmc1"><span id="incomeCon">0.00</span><span class="ucetmcSpan">元</span>
            </div>
            <div class="ucetmc2">待收收益</div>
        </div>
        <div class="ucETopMainCell">
            <div class="ucetmc1"><span id="sumIncomeCon">0.00</span><span class="ucetmcSpan">元</span>
            </div>
            <div class="ucetmc2">累计收益</div>
            <div class="ucETopGetIncome" onclick="window.location.href='/productList'">领取收益</div>
        </div>
    </div>
    <div class="ucEToph40px">温馨提示：体验金收益到期将发放至“我的体验金”—>“累计收益”，成功投资平台其他项目后（新手体验标除外），体验金收益将自动转入账户余额，可随时提现。</div>
</div>
<div class="ucETitle">体验金列表</div>
<div class="ucEMenu">
    <ul>
        <li class="ucEMenuLi1">体验金：</li>
        <li class="ucEMenuLi2">
            <div class="ucemlDiv ucemlDivOn" tag="">全部</div>
        </li>
        <li class="ucEMenuLi2">
            <div class="ucemlDiv" tag="0">未使用</div>
        </li>
        <li class="ucEMenuLi2">
            <div class="ucemlDiv" tag="1">已使用</div>
        </li>
        <li class="ucEMenuLi2">
            <div class="ucemlDiv" tag="2">已过期</div>
        </li>
    </ul>
</div>

<div class="ucEContent" id="ucEContent">
</div>
<div class="page-r divPage">
</div>

<!--
<div class="ucEContent" id="">
    <div class="ucecOne">
        <div class="ucecOneLeft expOn expRule" tag="0">
            <div class="h18px"></div>
            <div class="ucecolMid">
                <ul>
                    <li class="useContent">
                        <span>10000</span><span class="fs24px ml5px">元</span>
                    </li>
                    <li class="useContenetRight">
                    <div class="fs24px">体验金</div>
                    <div >( 满1000以上使用 )</div>
                    </li>
                </ul>
            </div>
            <div class="h26px"></div>
            <div class="h20px2">编号：HHKKHH-72723</div>
            <div class="h20px2">有效时间：2016/03/06 ~ 2016/03/13</div>
            <div class="h20px2">适用产品：所有产品</div>
        </div>
        <div class="ucecOneRight">
            <div class="uceh20px">
                <div class="uceor1">体验金额：100000元</div>
                <div class="uceor2">预计到账日期：2016/06/30</div>
            </div>
            <div class="h28px"></div>
            <div class="uceh20px">
                <div class="uceor1">预计收益：2.36元</div>
                <div class="uceor2">体验开始时间：----/--/--</div>
            </div>
            <div class="h28px"></div>
            <div class="uceh20px">
                <div class="uceor1">体验期限：7天</div>
                <div class="uceor2">体验结束时间：----/--/--</div>
            </div>
        </div>
    </div>

    <div class="ucecOne">
        <div class="ucecOneLeft expUsed" tag="0">
            <div class="h18px"></div>
            <div class="ucecolMid">
                <ul>
                    <li class="useContent">
                        <span>10000</span><span class="fs24px ml5px">元</span>
                    </li>
                    <li class="useContenetRight">
                    <div class="fs24px">体验金</div>
                    <div >( 满1000以上使用 )</div>
                    </li>
                </ul>
            </div>
            <div class="h26px"></div>
            <div class="h20px2">编号：HHKKHH-72723</div>
            <div class="h20px2">有效时间：2016/03/06 ~ 2016/03/13</div>
            <div class="h20px2">适用产品：所有产品</div>
        </div>
        <div class="ucecOneRight">
            <div class="uceh20px">
                <div class="uceor1">体验金额：100000元</div>
                <div class="uceor2">预计到账日期：2016/06/30</div>
            </div>
            <div class="h28px"></div>
            <div class="uceh20px">
                <div class="uceor1">预计收益：2.36元</div>
                <div class="uceor2">体验开始时间：----/--/--</div>
            </div>
            <div class="h28px"></div>
            <div class="uceh20px">
                <div class="uceor1">体验期限：7天</div>
                <div class="uceor2">体验结束时间：----/--/--</div>
            </div>
        </div>
    </div>

    <div class="ucecOne">
        <div class="ucecOneLeft expLost" tag="0">
            <div class="h18px"></div>
            <div class="ucecolMid">
                <ul>
                    <li class="useContent">
                        <span>10000</span><span class="fs24px ml5px">元</span>
                    </li>
                    <li class="useContenetRight">
                    <div class="fs24px">体验金</div>
                    <div >( 满1000以上使用 )</div>
                    </li>
                </ul>
            </div>
            <div class="h26px"></div>
            <div class="h20px2">编号：HHKKHH-72723</div>
            <div class="h20px2">有效时间：2016/03/06 ~ 2016/03/13</div>
            <div class="h20px2">适用产品：所有产品</div>
        </div>
        <div class="ucecOneRight">
            <div class="uceh20px">
                <div class="uceor1">体验金额：100000元</div>
                <div class="uceor2">预计到账日期：2016/06/30</div>
            </div>
            <div class="h28px"></div>
            <div class="uceh20px">
                <div class="uceor1">预计收益：2.36元</div>
                <div class="uceor2">体验开始时间：----/--/--</div>
            </div>
            <div class="h28px"></div>
            <div class="uceh20px">
                <div class="uceor1">体验期限：7天</div>
                <div class="uceor2">体验结束时间：----/--/--</div>
            </div>
        </div>
    </div>
</div>
-->
