<div class="wrap fixed-header">
    <ul class="site-nav">
        <li>
            <span class="cell-phone-pre">服务热线：</span>
            <span class="cell-phone">400-820-2450</span>
            <span class="cell-phone-pre">（工作日9:00-18:00）</span>
        </li>
        <li style="float:right">
            <div id='logout' style="display:none">
              <div id="tip1" class="logindiv cursor_pointer">登录</div>|
              <div id="tipSignup" class="register cursor_pointer">注册</div>|
            </div>
            <div id='login' style="display:none">
                <div id="tipL1" class="logindiv cursor_pointer" style="margin-right:0px;"></div><div class="down"></div>|
                <ul id="loginUserPannel" style="display:none" class="login-user-pannel">
                  <li><div id="tipL2" class="tipName cursor_pointer" style="margin-right:0px;"></div><div class="up"></div></li>
                  <li><div id="logoutR" class="login-user-option cursor_pointer">账户充值</div></li>
                  <li><div id="logoutM" class="login-user-option cursor_pointer">我的理财</div></li>
                  <li><div id="logoutB" class="login-user-option cursor_pointer">退出</div></li>
                </ul>

            </div>
            <div class="logindiv cursor_pointer" id="questionUser">帮助中心</div>|
            <div class="logindiv cursor_pointer" id="aboutContact">联系我们</div>
            <div class="icon icon-weixin cursor_pointer" id="wechat"></div>
            <a target="_blank" href="http://weibo.com/p/1006065968545646/home?from=page_100606&mod=TAB&is_all=1#place" alt="新浪微博">
                <div class="icon icon-weibo" id="weibo"></div>
            </a>
        </li>
    </ul>

    <div style="display:none" id="wechatPannel" class="wechat-pannel">
        <div class="logo-weixin icon"></div>
        <p class="wx-color" style="margin: 5px 0px;">扫一扫</p>
        <p class="wx-color">关注点理财公众号</p>
    </div>
</div>
<div class="nav" id='fixedNav'>
  <div class="nav-content">
    <a href="/" class="logo-header"></a>
    <ul class="nav-bar">
        <li><a id="bar_h1" class="unselect link font14B tiptitle_header" href="/">首页</a></li>
        <li><a id="bar_h2" class="unselect link font14B tiptitle_header" href="/productList">我要投资</a></li>
        <li><a id="bar_h3" class="unselect link font14B tiptitle_header" href="insurancePro">安全保障</a></li>
        <li><a id="bar_h4" class="unselect link font14B tiptitle_header" href="/myCenter_account">我的账户</a></li>
        <li><a id="bar_h5" class="unselect link font14B tiptitle_header" href="/webCount">信息披露</a></li>
    </ul>
    </div>
</div>
