<div class="insBg">
    <div class="insTop"></div>
    <div class="h50px"></div>
    <div class="insContent">
        <div class="inccLeft">
            <div class="inccText h190px">
                <div class="inccHead">资金有保障</div>
                <div class="inccP">
                <p>上市公司及国资合作的资金保障，</p>
                <p>雄厚的风险准备金，</p>
                <p>确保投资人的资金安全有保障。</p>
                </div>
            </div>
        </div>
        <div class="inccRight">
            <div class="inccImg h250px inccImg1"></div>
        </div>
    </div>
    <div class="h50px"></div>
    <div class="insContent">
        <div class="inccLeft">
           <div class="inccImg h215px inccImg2"></div>            
        </div>
        <div class="inccRight">
            <div class="inccText h190px">
                <div class="inccHead">强强联手</div>
                <div class="inccP">
                <p>资金与专业的支付渠道及银行合作，</p>
                <p>投资者和融资者资金能够得到更加安全的保障，</p>
                <p>平台不设资金池，产品不期限错配。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="h50px"></div>
    <div class="insContent">
        <div class="inccLeft">
            <div class="inccText h270px">
                <div class="inccHead">项目真实可靠</div>
                <div class="inccP">
                <p>侧重国家基础建设，</p>
                <p>及有抵押融资优质资产项目。</p>
                <p>融资方实力雄厚，还款来源清晰，</p>
                <p>产品项目资料齐全。</p>
                <p>抵押、质押、股权、风控措施绝不马虎。</p>
                </div>
            </div>
        </div>
        <div class="inccRight">
            <div class="inccImg h250px inccImg3"></div>
        </div>
    </div>
    <div class="h50px"></div>
    <div class="insContent">
        <div class="inccLeft">
           <div class="inccImg h215px inccImg4"></div>            
        </div>
        <div class="inccRight">
            <div class="inccText h270px">
                <div class="inccHead">风控保障</div>
                <div class="inccP">
                <p>风控保障，七重风控，层层把关！</p>
                <p>筛选财务实力强劲的融资主体，严格筛选融资项目，</p>
                <p>法务和风控部全面审查法律及项目风险，风控委员会过会，</p>
                <p>上线再次审核确认，投后跟踪管理资金进出明细情况，</p>
                <p>专业不良资产处置团队及渠道。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="h50px"></div>
    <div class="insContent">
        <div class="inccLeft">
            <div class="inccText h190px">
                <div class="inccHead">网站安全</div>
                <div class="inccP">
                <p>账户安全，各类证书认证，确保平台机密信息的安全，</p>
                <p>IT精英团队7x24小时检测系统后台确保信息安全，</p>
                <p>隐私数据高度加密确保用户资金安全。</p>
                </div>
            </div>
        </div>
        <div class="inccRight">
            <div class="inccImg h250px inccImg5"></div>
        </div>
    </div>
    <div class="h50px"></div>
    <div class="insContent">
        <div class="inccLeft">
           <div class="inccImg h240px inccImg6"></div>            
        </div>
        <div class="inccRight">
            <div class="inccText h110px">
                <div class="inccHead">法律合规保障</div>
                <div class="inccP">
                <p>法律合规，专业法律团队及外部律师事务所，双重严控。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="h50px"></div>
    <div class="h50px"></div>
</div>