<link href="../css/inputStyle.css" rel="stylesheet" type="text/css" />

<div class="userCenterRightMainTop">
    <div class="ucrmtSty">修改交易密码</div>
    <div class="ucrmtImgSty ucrmtImg5"></div>
</div>

<div class="div_none"></div>

<div class="modify">
    <div class="wordStyle">原交易密码</div>
    <div class="mf_floatL mf_marL mf_h46 mf_w296 mf_position">
        <input type="password" id="oldTstPwd" maxlength="16" placeholder="请输入原交易密码" />
        <div class="closeEye e_one" id="eye1"></div>
    </div>

</div>
<div class="modify modifyFind">
    <div class="prompt" id="cTSEOne"></div>
</div>

<div class="modify">
    <div class="wordStyle">新交易密码</div>
    <div class="mf_floatL mf_marL mf_h46 mf_w296 mf_position">
        <input type="password" id="newTstPwd" maxlength="16" placeholder="请输入新交易密码" />
        <div class="closeEye e_one" id="eye2"></div>
    </div>
</div>
<div class="modify modifyFind">
    <div class="prompt" id="cTSETwo"></div>
</div>

<div class="modify">
    <div class="wordStyle">确认新密码</div>
    <div class="mf_floatL mf_marL mf_h46 mf_w296 mf_position">
        <input type="password" id="angieNewPwd" maxlength="16" placeholder="请再次输入新交易密码" />
        <div class="closeEye e_one" id="eye3"></div>
    </div>
</div>
<div class="modify modifyFind">
    <div class="prompt" id="cTSEThree"></div>
</div>

<div class="butHeight"></div>

<div class="modify mf_mPadBut">
    <button id="m_but">确认修改</button>
</div>

<!--[if IE]> 
<script>
    $("#eye1").removeClass("closeEye e_one");
    $("#eye2").removeClass("closeEye e_one");
    $("#eye3").removeClass("closeEye e_one");
</script>
<![endif]-->