<div class="myAccount">
    <div class="title">
        <div class="inlineBlock verticalM">你好，</div>
        <div id="title_phone" class="inlineBlock verticalM"></div>
        <div id="title_accounticon" class="title_item verticalM"></div>
        <div id="title_phoneicon" class="title_item bindphone_info_iconH verticalM"></div>
        <div id="title_varicon" class="title_item verticalM"></div>
        <div id="title_cardicon"  class="title_item verticalM"></div>
        <div class="myAccountGG"></div>
    </div>
    <div class="infoAccount">
        <div class="infoAccount_line">
            <img id="img_account" class="pic">
            </img>
            <div class="data">
                <div class="data_line">
                    <div class="data_item">
                        <div id="mayProfit"  class="data_nub"></div>
                        <div class="data_title">待收收益(元)</div>
                        <div id="notes_help" class="notes_help">
                        </div>
                        <div id="notes" class="notes div_float1_none">只计算投资产品状态为还款中所产生的收益</div>
                    </div>
                    <div class="data_item bRN">
                        <div id="totalProfit"  class="data_nub"></div>
                        <div class="data_title">累计收益(元)</div>
                    </div>


                </div>
                <div class="data_line">
                    <div class="data_item pT20 bBN">
                        <div id="available"  class="data_nub"></div>
                        <div class="data_title">账户余额(元)</div>
                    </div>
                    <div class="data_item pT20 bBN bRN">
                        <div id="total"  class="data_nub"></div>
                        <div class="data_title">总资产(元)</div>
                    </div>
                </div>
            </div>
            <div class="cash">
                <button id="deposit_page" class="deposit cursor_pointer" >充值</button>
                <button id="withdraw_page" class="withdraw cursor_pointer" >提现</button>
            </div>
            <div class="clean"></div>
        </div>

       <div class="account_info">
           <div class="account_info_line1">
               <div class="card_info">
                   <div class="card_info_title">
                       <div class="inlineBlock verticalM">银行卡</div>
                       <div  id="card_info_icon" class="card_info_icon verticalM" ></div>
                       <div id="card_info_status" class="card_info_status verticalM" ></div>
                   </div>
                   <div class="card_info_content">
                       <div class="card_info_content1">
                           <span  class="card_info_content_name inlineBlock">银行名：</span>
                           <span id="card_info_content_value" class="card_info_content_value inlineBlock" ></span>
                       </div>
                       <div class="card_info_content1">
                           <span  class="card_info_content_name inlineBlock">银行卡号：</span>
                           <span id="card_info_content_value1" class="card_info_content_value"></span>
                       </div>
                       <div id="card_edit" class="card_info_content_edit cursor_pointer"> </div>
                   </div>
               </div>
               <div class="card_info">
                   <div class="card_info_title">
                       <div class="inlineBlock verticalM" >实名认证</div>
                       <div  id="var_info_icon" class="card_info_icon verticalM" ></div>
                       <div id="var_info_status" class="card_info_status verticalM" ></div>
                   </div>
                   <div class="card_info_content">
                       <div class="card_info_content1">
                           <span  class="card_info_content_name">姓名：</span>
                           <span id="name_info_content_value" class="card_info_content_value"></span>
                       </div>
                       <div class="card_info_content1">
                           <span  class="card_info_content_name">身份证号：</span>
                           <span id="name_info_content_value1" class="card_info_content_value"></span>
                       </div>
                       <div id="var_edit" class="card_info_content_edit cursor_pointer"> </div>
                   </div>
               </div>
               <div class="card_info">
                   <div class="card_info_title">
                       <div class="inlineBlock verticalM" >绑定认证</div>
                       <div  id="phone_info_icon" class="card_info_icon verticalM" ></div>
                       <div id="phone_info_status" class="card_info_status verticalM" ></div>
                   </div>
                   <div class="card_info_content">
                       <div class="card_info_content1">
                           <span  class="card_info_content_name">手机：</span>
                           <span id="phone_card" class=""></span>
                       </div>
                       <div class="card_info_content1">
                           <span  class="card_info_content_name">邮箱：</span>
                           <span id="mail_card" class=""></span>
                       </div>
                       <div  id="mail_icon" class="card_info_icon verticalM cursor_pointer" ></div>
                       <div  id="phone_edit" class="card_info_content_edit cursor_pointer"> </div>
                   </div>
               </div>
           </div>
           <div class="account_info_line2">
               <div class="card_info">
                   <div class="card_info_title">
                       <div class="inlineBlock verticalM">登录密码</div>
                       <div  id="password_info_icon" class="card_info_icon verticalM login_info_iconH" ></div>
                       <div id="password_info_status" class="card_info_status verticalM" >已设置</div>
                   </div>
                   <div class="card_info_content">
                       <div class="card_info_content1">
                           <span  class="card_info_content_name">登录密码：</span>
                           <span id="password_info_content_value" class="card_info_content_value">******</span>
                       </div>
                       <div id="login_edit" class="card_info_content_edit cursor_pointer"> </div>
                   </div>
               </div>
               <div class="card_info">
                   <div class="card_info_title">
                       <div class="inlineBlock verticalM">交易密码</div>
                       <div  id="trade_info_icon" class="card_info_icon verticalM" ></div>
                       <div id="trade_info_status" class="card_info_status verticalM" ></div>
                   </div>
                   <div class="card_info_content">
                       <div class="card_info_content1">
                           <span  class="card_info_content_name">交易密码：</span>
                           <span id="trade_info_content_value" class="card_info_content_value">******</span>
                       </div>
                       <div class="card_info_content1">
                           <span  class="acount_hint" style="color:#ff0054">默认与首次登录密码一致</span>
                       </div>
                       <div  id="trade_reset" class="card_info_content_edit trade_reset_icon cursor_pointer"> </div>
                       <div  id="trade_edit" class="card_info_content_edit cursor_pointer"> </div>
                   </div>
               </div>
               <div class="card_info">
                   <div class="card_info_title">
                       <div class="inlineBlock verticalM" >账户信息</div>
                       <div  id="account_info_icon" class="card_info_icon verticalM" ></div>
                       <div id="account_info_status" class="card_info_status verticalM" ></div>
                   </div>
                   <div class="card_info_content">
                       <div class="card_info_content1">
                           <img id="picS" class="picS"/>
                       </div>

                       <div id="account_edit" class="card_info_content_edit cursor_pointer"> </div>
                   </div>
               </div>
           </div>


       </div>


    </div>
</div>
