<div class="pay-complete pay-failed page">
	<p class="title nav">
		<span>您的当前位置：</span><a href='/' style="color:#398de1;">首页</a>><a href='/productList' style="color:#398de1;">我要投资</a>>
		<span class="s">支付失败</span>
	</p>
	<p class="pay-status">
		<span class="label">支付失败</span>
		<span class="errorMsg" id="errorMsg"></span>
	</p>
	<div class="order-info">
		<p><span class="label">投资金额:</span><span class="value" id="totalAmount"></span></p>
		<p><span class="label">支付总额:</span><span class="value" id="payTotal"></span></p>
		<!-- <p><span class="label">购买时间:</span><span class="value" id="buyTime"></span></p> -->
		<p><span class="label">交易单号:</span><span class="value" id="orderNo"></span></p>
		<p style="margin-bottom: 0;"><span class="label">产品名称:</span><span class="value" id="prodName"></span></p>
	</div>
	<div class="action" id="payFailedAction">
		<span>尊敬的用户,您支付未成功，您可以点击</span>
		<button class="btn" id="gotoPayBtn">继续支付</button>
	</div>
	<div class="middle-div"></div>
</div>