<div class="pay-complete pay-success page">
	<p class="title nav">
		<span>您的当前位置：</span><a href='/' style="color:#398de1;">首页</a>><a href='/productList' style="color:#398de1;">我要投资</a>>
		<span
		    class="s">支付成功</span>
	</p>
	<p class="pay-status">
		<span class="label">支付成功</span>
	</p>
	<div class="order-info">
		<p><span class="label">购买金额:</span><span class="value" id="totalAmount"></span></p>
		<p><span class="label">支付总额:</span><span class="value" id="payTotal"></span></p>
		<p><span class="label">购买时间:</span><span class="value" id="buyTime"></span></p>
		<p><span class="label">交易单号:</span><span class="value" id="orderNo"></span></p>
		<p style="margin-bottom: 0;"><span class="label">产品名称:</span><span class="value" id="prodName"></span></p>
	</div>
	<div class="action" id="paySuccessAction">
		<span>尊敬的用户,您已成功支付,您可以点击</span>
		<button class="btn" id="tradeRecordBtn">交易记录</button>
		<span>进行查看,也可以点击</span>
		<button class="btn" id="homepageBtn">继续购买</button>
		<span>进行财富增值</span>
	</div>
	<div style="display:none;padding-bottom:100px;text-align:center;color: black;font-size: 12px;" id="luckyDiv">
		恭喜您获得幸运号：<span class="red" id="luckyNum"></span><a href="/activity161129" style="padding-left: 200px;
">幸运号抽奖 >></a>
	</div>
	<div style="display:none;padding-bottom:30px;text-align:center;color: #A7A7A7;font-size: 14px;" id="jjsxDiv">
		温馨提示：本项目满标次日，您将获得一块<span style="color:red">升息令牌</span>，可在"我的账户"内查看
	</div>
	<div class="middle-div"></div>
</div>