<div class="my_orders">
    <div class="ucEPCTop">
        <div class="ucEPCContent">
            <div class="ucEPCC1">点币
                <div class="ucEPRuleShow" id="showUcEPRule">?</div>
            </div>
            <div class="ucEPCC2"><span id="sumPointCon">0</span> 个
            </div>
            <div class="ucEPCC4 h40px"><span class="ucEPCC4Span">如何获得点币？</span>
            </div>
            <div class="ucEPCC3">温馨提示：点币有效期至每年公历12月31日，过期将自动清零。</div>
            <div class="ucEPCCGG"></div>
        </div>
    </div>
    <div class="action_bar">
        <ol class="ol_action">
            <li class="li_action text_alignL"><span>点币状态：</span>
            </li>
            <li class="inlineBlock">
                <button id="item_action0" class="li_action actionH cursor_pointer">全部</button>
            </li>
            <li class="inlineBlock">
                <button id="item_action1" class="li_action actionN cursor_pointer">收入</button>
            </li>
            <li class="inlineBlock">
                <button id="item_action2" class="li_action actionN cursor_pointer">支出</button>
            </li>
        </ol>
    </div>
    <div class="list_div H700">
        <div class="list_title1 backgroundColorFa">
            <ul class="pc_pl_list">
                <li id="timeID" class="pc_li_item item274"><span>操作时间</span>
                </li>
                <li class="pc_li_item item274"><span>操作</span>
                </li>
                <li class="pc_li_item item274"><span>点币数</span>
                </li>
            </ul>
        </div>
        <div class="list_title1" id="listBill_content">
            <ul class="pc_pl_list ol_list_marL4" id="listShow">
            </ul>
        </div>
        <div class="page-r divPage">
        </div>
    </div>
</div>
<div class="howGetPoints hide">
    <div class="expRulebg aHGPWH">
        <div class="expRulebgMain aHGPWH">
            <div class="expRuleHead">点币获得方法
                <div class="expRuleClose" id="aHGPClose"></div>
            </div>
            <div class="expRuleContent rpContent">
                <ul>
                    <li>一、注册</li>
                    <li>注册成功后，可获得100点币奖励。</li>
                    <li>&nbsp;</li>
                    <li>二、实名认证</li>
                    <li>实名认证成功后，可获得100点币奖励。</li>
                    <li>&nbsp;</li>
                    <li>三、绑定银行卡</li>
                    <li>绑定成功后，可获得100点币奖励。</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
</div>