<div class="product-list">
	<div class="w">
		<div class="left-pannel">
			<div class="banner b1">
				
			</div>
			<div class="banner b2">
				<span class="title">常见问题</span>
				<ol>
					<li><a href="/questionUser"><span>1.我的账号密码忘记了,该如何找回?</span></a></li>
					<li><a href="/questionPwd"><span>2.我的交易密码忘记了,该如何找回?</span></a></li>
					<li><a href="/questionBank"><span>3.已绑定的银行卡能换绑吗?</span></a></li>
					<li><a href="/questionRecharge"><span>4.充值需要收费吗?充值有金额限制吗?</span></a></li>
					<li><a href="/questionRecharge"><span>5.充值银行卡和提现银行卡是否必须是同一张?</span></a></li>
					<li><a href="/questionCash"><span>6.提现需要收费吗？提现有金额限制吗?</span></a></li>
					<li><a href="/questionInvest"><span>7.我购买的产品在募集期内没有满标怎么办?</span></a></li>
					<li><a href="/questionIncomeAndRedeem"><span>8.你们网站投资项目的还款方式是怎样的?</span></a></li>
				</ol>
			</div>
		</div>
		<div class="right-pannel">
			<div class="search-pannel">
<!--
			    <div class="search-line line1">
					<span class="name">类型:</span>
					<ol>
						<li id="q31"><span>全部</span></li>
						<li id="q32"><span>鑫盈精选</span></li>
						<li id="q33"><span>节节升息</span></li>
					</ol>	
				</div>
-->
				<div class="search-line line2">
					<span class="name">期限:</span>
					<ol>
						<li id="q11"><span>全部</span></li>
						<li id="q12"><span>90天内</span></li>
						<li id="q13"><span>91~180天</span></li>
						<li id="q14"><span>180天以上</span></li>
					</ol>	
				</div>
				<div class="search-line line2">
					<span class="name">状态:</span>
					<ol>
						<li id="q21"><span>全部</span></li>
						<li id="q22"><span>募集中</span></li>
						<li id="q23"><span>已售罄</span></li>
						<li id="q24"><span>还款中</span></li>
						<li id="q25"><span>已兑付</span></li>
                        <li id="q26"><span>已流标</span></li>
					</ol>	
				</div>
			</div>
			<div class="item-list" id="productList">
				
			</div>
			<div class="paging-pannel">
				<div id="productListPagination" class="pagination"></div>
			</div>
		</div>
	</div>
</div>