<div class="ucEMenu">
    <ul>
        <li class="ucEMenuLi2">
            <div class="ucemlDiv ucemlDivOn" tag="0">未使用</div>
        </li>
        <li class="ucEMenuLi2">
            <div class="ucemlDiv" tag="1">已使用</div>
        </li>
        <li class="ucEMenuLi2">
            <div class="ucemlDiv" tag="2">已过期</div>
        </li>
    </ul>
</div>

<div class="ucEContent redPack" id="ucEContent">
</div>
<div class="product-list">
    <div class="paging-pannel">
        <div id="productListPagination" class="pagination"></div>
    </div>
</div>
<p class='coupon-tip'>温馨提示</p>
<p class='mj-tip coupon-type-tip'>1、什么是满减券？</p>
<p class='fx-tip coupon-type-tip'>2、什么是返现券？</p>
<p class='jx-tip coupon-type-tip'>3、什么是加息券？</p>
