<link href="../css/inputStyle.css" rel="stylesheet" type="text/css" />

<!--重置密码步骤一  填写信息start-->
<div class="resetMiddle">
    <div class="resetCon">
        <div class="resetCon_title">
            <div class="resetCon_title_l"><span>重置密码</span>
                <div class="base-line"></div>
            </div>
        </div>

        <div class="RC_step">
            <div class="RC_stepSum RC_sumA">1</div>
            <div class="RC_line" id="RC_lineOne"></div>
            <div class="RC_stepSum RC_sumB">2</div>
            <div class="RC_line" id="RC_lineTwo"></div>
            <div class="RC_stepSum RC_sumC">3</div>
        </div>
        <div class="RC_word">
            <div class="RC_wordCnm RC_wordA">输入手机号码</div>
            <div class="RC_wordCnm RC_wordB">验证手机号码</div>
            <div class="RC_wordCnm RC_wordC">重置登录密码</div>
        </div>

        <!--        <div class="resetCon_step onePic"></div>-->

        <!--重置密码第一步 S-->
        <div id="one" style="display:block;">
            <div class="resetCon_info">
                <div class="wordStyle">手机号码</div>
                <div class="mf_floatL mf_marL mf_h46 mf_w296">
                    <input class="writeInfo" type="text" maxlength="11" id="mobile" value="" placeholder="请输入手机号码" />
                </div>
            </div>
            <div class="resetCon_info resetCon_pro">
                <div class="pro" id="proPhone"></div>
            </div>

            <div class="resetCon_info">
                <div class="wordStyle">验证码</div>
                <div class="mf_floatL mf_h46 mf_marL">
                    <input class="codes" type="text" autocomplete="off" id="captcha" placeholder="请输入图片验证码" maxlength="4" />
                </div>
                <div class="mf_floatL mf_h46 mf_marL6">
                    <img class="code_img" id="captchaImg" alt="点击更换校验码" src="" />
                </div>
            </div>
            <div class="resetCon_info resetCon_pro">
                <div class="pro" id="proCaptcha"></div>
            </div>

            <div class="butHeight"></div>

            <div class="resetCon_info resetCon_infoBut">
                <input class="resetCon_but" type="button" id="check_phone" value="下一步">
            </div>
        </div>
        <!--重置密码第一步 E-->

        <!--重置密码第二步 S-->
        <div id="two" style="display:none;">
            <div class="resetCon_info">
                <div class="wordStyle">手机验证码</div>
                <div class="mf_floatL mf_h46 mf_marL">
                    <input class="codes" type="text" autocomplete="off" id="phoneCode" placeholder="请输入手机验证码" maxlength="6" />
                </div>
                <div class="mf_floatL mf_h46 mf_marL6">
                    <input class="code_but" type="button" id="getCode" value="获取验证码" />
                </div>
            </div>
            <div class="resetCon_info resetCon_pro" id="resetCon_err">
                <div class="pro" id="proCode"></div>
            </div>

            <div class="resetCon_info resetCon_message">
                <div class="proTe">温馨提示：验证码已发送到<span id="writePhone"></span>，请耐心等待，若一直未收到验证码，请联系客服电话：<span>400-820-2450</span>。
                </div>
            </div>

            <div class="butHeight"></div>

            <div class="resetCon_info resetCon_infoBut">
                <input class="resetCon_but" type="button" id="phone_code" value="下一步">
            </div>
        </div>
        <!--重置密码第二步 E-->

        <!--重置密码三步 S-->
        <div id="three" style="display:none;">
            <div class="resetCon_info">
                <div class="wordStyle">重新设置密码</div>
                <div class="mf_floatL mf_marL mf_h46 mf_w296 mf_position">
                    <input type="password" maxlength="16" id="newPass" placeholder="请输入新密码" />
                    <div class="eyePic1" id="eye"></div>
                </div>
            </div>
            <div class="resetCon_info resetCon_pro">
                <div class="pro" id="proPwd"></div>
            </div>

            <div class="resetCon_info">
                <div class="wordStyle">确认设置密码</div>
                <div class="mf_floatL mf_marL mf_h46 mf_w296 mf_position">
                    <input type="password" maxlength="16" id="againNew" placeholder="请再次输入新密码" />
                    <div class="eyePic1" id="eyeT"></div>
                </div>
            </div>
            <div class="resetCon_info resetCon_pro">
                <div class="pro" id="proNewPwd"></div>
            </div>

            <div class="butHeight"></div>

            <div class="resetCon_info resetCon_infoBut">
                <input class="resetCon_but" type="button" id="nwePass_but" value="确认修改">
            </div>
        </div>
        <!--重置密码三步 E-->

    </div>
</div>
<!--密码显示隐藏事件-->
<script type="text/javascript">
    (function ($) {
        $("#eye").bind('click', function () {
            if ($('#newPass').attr('type') == 'password') {
                $('#eye').addClass('eyePic2').removeClass('eyePic1');
                $('#newPass').attr('type', 'text');
            } else {
                $('#eye').addClass('eyePic1').removeClass('eyePic2');
                $('#newPass').attr('type', 'password');
            }
        });
        $("#eyeT").bind('click', function () {
            if ($('#againNew').attr('type') == 'password') {
                $('#eyeT').addClass('eyePic2').removeClass('eyePic1');
                $('#againNew').attr('type', 'text');
            } else {
                $('#eyeT').addClass('eyePic1').removeClass('eyePic2');
                $('#againNew').attr('type', 'password');
            }
        });
    })(jQuery);
</script>
<!--[if IE]> 
<script>
    $("#eye").removeClass("eyePic1");
    $("#eyeT").removeClass("eyePic1");
</script>
<![endif]-->

<!--重置密码步骤一  填写信息end-->
<!--信息介绍start-->
<div class="aboutUsStyle" style="background: #ffffff;">
    <div class="pannel" style="background: #ffffff; border-color: #ffffff;">
        <div class="first" style="background: #ffffff;">
            <div class="block">
                <span class="icon icon_1"></span>
                <ul>
                    <li class="title">上市公司全资子公司</li>
                    <li>母公司：智城控股(08130-HK)</li>
                </ul>
            </div>
            <div class="block">
                <span class="icon icon_2"></span>
                <ul>
                    <li class="title">强大的股东背景</li>
                    <li>中国支付通&国投瑞银资产</li>
                </ul>
            </div>
            <div class="block">
                <span class="icon icon_3"></span>
                <ul>
                    <li class="title">强强联合央企国企</li>
                    <li>与大型央企、国企共同参与投资</li>
                </ul>
            </div>
            <div class="block">
                <span class="icon icon_4"></span>
                <ul>
                    <li class="title">专注市政PPP项目</li>
                    <li>成功投资市政项目逾百亿元</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--信息介绍end-->