<div class="userCenterBg">
    <div class="userCenterMain">
        <div class="userCenterTop">您当前位置：<a href='/' style="color:#398de1;">首页</a>><span class="uCTSpan"><a href='/myCenter_account' style="color:#398de1;">我的账户</a>></span><span class="userCenterTopSpan" id="userCenterTopSpan">我的账户</span>
        </div>
        <div id="userCenterLeftMenu" class="userCenterLeftMenu">
            <div class="userCenterMenuList" id="userCenterA">
                <div class="userCenterMenuListIn">我的账户
                    <div class="userCenterA ucmli" id="userCenter_A"></div>
                </div>
            </div>
            <div class="userCenterMenuList" id="userCenterB">
                <div class="userCenterMenuListIn">我的订单
                    <div class="userCenterB ucmli" id="userCenter_B"></div>
                </div>
            </div>
            <div class="userCenterMenuList" id="userCenterC">
                <div class="userCenterMenuListIn">我的理财
                    <div class="userCenterC ucmli" id="userCenter_C"></div>
                </div>
            </div>
            <div class="userCenterMenuList" id="userCenterD">
                <div class="userCenterMenuListIn">资金明细
                    <div class="userCenterD ucmli" id="userCenter_D"></div>
                </div>
            </div>
            <div class="userCenterMenuList" id="userCenterF">
                <div class="userCenterMenuListIn">我的点币
                    <div class="userCenterF ucmli" id="userCenter_F"></div>
                </div>
            </div>
            <div class="userCenterMenuList" id="userCenterH">
                <div class="userCenterMenuListIn">我的优惠券
                    <div class="userCenterH ucmli" id="userCenter_H"></div>
                </div>
            </div>
<!--
            <div class="userCenterMenuList" id="userCenterJ">
                <div class="userCenterMenuListIn">我的升息令牌
                    <div class="userCenterJ ucmli" id="userCenter_J"></div>
                </div>
            </div>
-->
<!--
            <div class="userCenterMenuList" id="userCenterE">
                <div class="userCenterMenuListIn">我的体验金
                    <div class="userCenterE ucmli" id="userCenter_E"></div>
                </div>
            </div>
-->
            <div class="lastMenu userCenterMenuList" id="userCenterG">
                <div class="userCenterMenuListIn">邀请有礼
                    <div class="userCenterG ucmli" id="userCenter_G"></div>
                </div>
            </div>
        </div>
        <div id="userCenterRightMain" class="userCenterRightMain">

        </div>
    </div>
</div>
