<% include header.html%>

    <% include aboutNav.html%>

        <div class="auCompanyDiv">
            <div class="auCDMode">
                <div class="auCDMHead">
                    <div class="auCDMHIn">
                        公司介绍
                    </div>
                </div>
                <div class="auCDMD11">
                    <span class="suCDMDS">点理财（dianlc.com）</span>是一家专业从事智慧城市和市政基础设施建设等PPP项目的互联网金融信息平台，由上市公司智城控股（股票代码 08130-HK）旗下的全资子公司——众网金融科技（上海）有限公司负责运营， 注册资本1.00亿元人民币，股东为上市公司中国支付通（08325-HK）。
                    <br>
                    <br>
                    <span class="suCDMDS">点理财（dianlc.com）</span>致力于为广大缺乏投资渠道的投资者提供一个安全、诚信、低风险、回报稳定的理财渠道，并为广大投资者带来分享智慧城市、基础设施投资运营的改革红利。
                </div>
                <div class="auCDMD12"></div>
            </div>
        </div>

        <div class="auCompanyDiv auCDbgc">
            <div class="auCDMode">
                <div class="auCDMHead">
                    <div class="auCDMHIn">
                        股东背景
                    </div>
                </div>
            </div>
            <div class="auCDMD21"></div>
            <div class="auCDMD22">
                中国支付通集团控股有限公司是一家拥有稀缺牌照的
                <br>智能支付和小微金融类上市公司 （08325-HK）。
                <br>目标在五年内追上“支付宝”和“微信支付”两大行内龙头。
            </div>
            <div class="auCDMD23">
                <div class="auCDMD23Child gdbj1">全球移动支付和互联网金融行业
                    <br>正处于高速成长期</div>
                <div class="auCDMD23Child gdbj2">稀缺的全国预付卡牌照
                    <br>和互联网支付牌照</div>
                <div class="auCDMD23Child gdbj3">极富创新的产品
                    <br>和可持续发展的业务模式</div>
                <div class="auCDMD23Child gdbj4">经验丰富的董事会
                    <br>和业内最优秀管理团队</div>
                <div class="auCDMD23Child gdbj5">上市公司平台助力于
                    <br>融资拓展和资源整合</div>
            </div>
        </div>
        <div class="auCompanyDiv">
            <div class="auCDMode">
                <div class="auCDMHead">
                    <div class="auCDMHIn">
                        合作伙伴
                    </div>
                </div>
            </div>
            <div class="auCDMD31">
                合作伙伴包含地方政府以及大型国企。公司正筹备与多家央企、
                <br>国企成立合资公司，共同开发基础设施项目，并基于社会存量资产
                <br>和自有开发资产，将优质基础设施资产通过资产证券化，形成可销售的金融产品。
            </div>
            <div class="auCDMD32">
                <div class="auCDMD3Child hzhb2">与知名国企成立合资公司
                    <br>共同投资综合管廊和海绵城市相关PPP项目</div>
                <div class="auCDMD3Child hzhb4">与上海知名实业集团等大型国企
                    <br>共同投资商业保理有限公司</div>
            </div>
            <div class="auCDMD33">
                <div class="auCDMD3Child hzhb1">与知名医疗央企成立合资公司
                    <br>开发、参与及投资医养类PPP项目</div>
                <div class="auCDMD3Child hzhb3">与知名电力央企成立合资公司
                    <br>共同投资能源行业相关的PPP项目</div>
                <div class="auCDMD3Child hzhb5">与上海知名实业集团等大型国企
                    <br>共同投资基金管理有限公司</div>
            </div>
        </div>
        <div class="auCompanyDiv auCDbgc">
            <div class="auCDMode">
                <div class="auCDMHead">
                    <div class="auCDMHIn">
                        资质证照
                    </div>
                </div>
            </div>
            <div class="auCDMD41">
                <div id="auCDMD41ZList" class="auCDMD41ZList">
                    <div class="auCDMD41Child">
                        <img src="/images/aboutCenter/z_b01.jpg" class="hide" id="zzzz_s1">
                        <div class="auCDMD41CIn zzzz_s1 box-shadow-5" tag="zzzz_s1" title="1"></div>
                    </div>
                    <div class="auCDMD41Child">
                        <img src="/images/aboutCenter/z_b02.png" class="hide" id="zzzz_s2">
                        <div class="auCDMD41CIn zzzz_s2 box-shadow-5" tag="zzzz_s2" title="2"></div>
                    </div>
                    <div class="auCDMD41Child">
                        <img src="/images/aboutCenter/z_b03.png" class="hide" id="zzzz_s3">
                        <div class="auCDMD41CIn zzzz_s3 box-shadow-5" tag="zzzz_s3" title="3"></div>
                    </div>
                    <div class="auCDMD41Child">
                        <img src="/images/aboutCenter/z_b04.jpg" class="hide" id="zzzz_s4">
                        <div class="auCDMD41CIn zzzz_s4 box-shadow-5" tag="zzzz_s4" title="4"></div>
                    </div>
                    <div class="auCDMD41Child">
                        <img src="/images/aboutCenter/z_b05.png" class="hide" id="zzzz_s5">
                        <div class="auCDMD41CIn zzzz_s5 box-shadow-5" tag="zzzz_s5" title="5"></div>
                    </div>
                    <div class="auCDMD41Child">
                        <img src="/images/aboutCenter/z_b06.png" class="hide" id="zzzz_s6">
                        <div class="auCDMD41CIn zzzz_s6 box-shadow-5" tag="zzzz_s6" title="6"></div>
                    </div>
                </div>
            </div>
            <div class="auCDMD4LR">
                <div class="auCDMD4L left_n" id="auCDMD4L"></div>
                <div class="auCDMD4R right_h" id="auCDMD4R"></div>
            </div>
        </div>
        <div class="showImgDiv" id="showImgDiv">
            <div class="showImgDivL">
                <div class="showImgL left_h hide"></div>
            </div>
            <!-- <span class="showImgDivClose" id="showImgDivClose">X</span> -->
            <span id="showImgDivClose" style="width:25px;height:25px;position:absolute;top:1px;right:0;" class="showImgDivClose"></span>
            <img id="showImg" class="showImg">
            <div class="showImgDivR">
                <div class="showImgR right_h hide"></div>
            </div>
        </div>
        <div id="overlay"></div>
        <script>
            var maxTId = 6;
            var nowTId = 0;
            function showImgDiv(id) {
                var w = $(id).width();
                var h = $(id).height();
                var marginL = w / 2;
                var marginT = h / 2;
                $(id).css({
                    zIndex: '1001',
                    left: '50%',
                    top: '50%',
                    marginLeft: '-' + marginL + 'px',
                    marginTop: '-' + marginT + 'px',
                    position: 'fixed'
                })
                $(id).fadeIn(200);
            }
            $(".auCDMD41CIn").mousemove(function () {
                $(this).removeClass("box-shadow-5");
                $(this).addClass("box-shadow-52");
            }).mouseout(function () {
                $(this).addClass("box-shadow-5");
                $(this).removeClass("box-shadow-52");
            }).click(function () {
                DLC.Util.showOverlay();
                $("#showImg").attr("src", $("#" + $(this).attr("tag")).attr("src"));
                showImgDiv("#showImgDiv");
                nowTId = $(this).attr("title");
                if (nowTId == 1) {
                    $(".showImgL").removeClass("left_h").addClass("left_n");
                } else {
                    $(".showImgL").removeClass("left_n").addClass("left_h");
                }
                if (nowTId == maxTId) {
                    $(".showImgR").removeClass("right_h").addClass("right_n");
                } else {
                    $(".showImgR").removeClass("right_n").addClass("right_h");
                }
            });
            $("#showImgDivClose").click(function () {
                DLC.Util.hideOverlay();
                DLC.Util.hideAdjust("#showImgDiv");
            });
            var showWitchImg = function (leftNum) {
                $("#showImgDiv").animate({
                    left: leftNum,
                    opacity: '0.1'
                }, 200, function () {
                    DLC.Util.hideAdjust("#showImgDiv");
                    $("#showImg").attr("src", $("#" + $("div[title=" + nowTId + "]").attr("tag")).attr("src"));
                    $("#showImgDiv").css({
                        opacity: 1
                    });
                    showImgDiv("#showImgDiv");
                });
            }
            $(".showImgDivL").click(function () {
                if ($(".showImgL").hasClass("left_n")) {
                    return;
                }
                nowTId--;
                if (nowTId == 1) {
                    $(".showImgL").removeClass("left_h").addClass("left_n");
                }
                if (nowTId == (maxTId - 1)) {
                    $(".showImgR").removeClass("right_n").addClass("right_h");
                }
                showWitchImg("30%");
            }).mousemove(function () {
                $(".showImgL").show();
            }).mouseout(function () {
                $(".showImgL").hide();
            });
            $(".showImgDivR").click(function () {
                if ($(".showImgR").hasClass("right_n")) {
                    return;
                }
                nowTId++;
                if (nowTId == maxTId) {
                    $(".showImgR").removeClass("right_h").addClass("right_n");
                }
                if (nowTId == 2) {
                    $(".showImgL").removeClass("left_n").addClass("left_h");
                }
                showWitchImg("70%");
            }).mousemove(function () {
                $(".showImgR").show();
            }).mouseout(function () {
                $(".showImgR").hide();
            });

            var maxId = 2;
            var nowId = 1;
            $("#auCDMD4L").click(function () {
                if ($(this).hasClass("left_n")) {
                    return;
                }
                nowId--;
                $("#auCDMD41ZList").animate({
                    left: "-" + ((nowId - 1) * 1200) + "px"
                }, 500);
                if (nowId == 1) {
                    $(this).removeClass("left_h").addClass("left_n");
                }
                if (nowId == (maxId - 1)) {
                    $("#auCDMD4R").removeClass("right_n").addClass("right_h");
                }
            });
            $("#auCDMD4R").click(function () {
                if ($(this).hasClass("right_n")) {
                    return;
                }
                $("#auCDMD41ZList").animate({
                    left: "-" + (nowId * 1200) + "px"
                }, 500);
                nowId++;
                if (nowId == maxId) {
                    $(this).removeClass("right_h").addClass("right_n");
                }
                if (nowId == 2) {
                    $("#auCDMD4L").removeClass("left_n").addClass("left_h");
                }
            });
        </script>

        <% include footer.html%>
        <script>
        $(document).ready(function() {
            window.app.initHeader(3);
        });
        </script>
