<div style="height:242px;position:relative;overflow:hidden;">
	<div class="auCenterMenu">
    <div class="auCMDiv">
        <div class="auCMOne">
            <a class="auCMOSpan <%=about_1%>" id="aboutUsA" href="aboutCompany" style="color:#FFF;">公司简介</a>
        </div>
        <div class="auCMOne">
            <a class="auCMOSpan <%=about_2%>" id="aboutUsB" href="aboutMAdvantage" style="color:#FFF;">平台优势</a>
        </div>
        <div class="auCMOne">
            <a class="auCMOSpan <%=about_3%>" id="aboutUsB" href="aboutNotice?type=0&pageSize=10&page=1" style="color:#FFF;">最新公告</a>
        </div>
        <div class="auCMOne">
            <a class="auCMOSpan <%=about_4%>" id="aboutUsB" href="aboutNotice?type=1,2&pageSize=10&page=1" style="color:#FFF;">新闻动态</a>
        </div>
        <div class="auCMOne">
            <a class="auCMOSpan <%=about_5%>" id="aboutUsB" href="aboutMedia" style="color:#FFF;">媒体报道</a>
        </div>
        <div class="auCMOne">
            <a class="auCMOSpan <%=about_6%>" id="aboutUsB" href="aboutContact" style="color:#FFF;">联系我们</a>
        </div>
    </div>
</div>
<div class="ic0909Banner"></div>
<div class="aboutUsBg">
    <div class="aboutUsMain">
        <div class="aboutUsRightMain" id="aboutUsRightMain">
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
</div>
<script>
$(document).ready(function() {
		window.app.initHeader(3);
});
</script>
