<div id="index_footer">
    <div class="footer">
        <div class="w1">
            <div class="footer-context">
                <div class="footerLeft">
                    <ul class="fLUl">
                        <li class="fLOne">关于我们</li>
                        <li><a href="aboutCompany">公司介绍</a>
                        </li>
                        <li><a href="aboutMAdvantage">平台优势</a>
                        </li>
                        <li><a href="aboutContact">联系我们</a>
                        </li>
                    </ul>
                    <ul class="fLUl">
                        <li class="fLOne">帮助中心</li>
                        <li><a href="insurancePro">安全保障</a>
                        </li>
                        <li><a href="guide">新手指引</a>
                        </li>
                        <li><a href="questionUser">常见问题</a>
                        </li>
                        <li><a href="siteMap">网站地图</a>
                        </li>
                    </ul>
                    <ul class="fLUl">
                        <li class="fLOne">投资理财</li>
                        <li><a href="/productList">鑫盈精选</a>
                        </li>
                    </ul>
                    <div class="foot-line" style="margin-left: 29px;"></div>
                </div>
                <div class="footerMiddle">
                    <div class="code-2d fMOne" style="margin-left: 95px;">
                        <span class="icon iconOne"></span>
                        <span class="label">移动客户端下载</span>
                    </div>
                    <div class="code-2d fMTwo">
                        <span class="icon iconTwo"></span>
                        <span class="label">点理财微信理财</span>
                    </div>
                    <div class="foot-line" style="margin-left: 24px;"></div>
                </div>
                <div class="footerRight">
                    <div class="fROne">
                        服务热线（工作日：9:00-18:00）
                    </div>
                    <div class="fRTwo">
                        400-820-2450
                    </div>
                    <div class="fRThree">
                      <a target="_blank" href="http://q.url.cn/s/JV6tDJm" alt="点理财-QQ">
                          <div class="qq"></div>
                      </a>
                    </div>
                    <div class="fRFour">
                        理财市场有风险，投资需谨慎
                    </div>
                </div>
            </div>
        </div>

        <div class="fw2">
            <div class="footer-context">
                <div style="height:50px;"></div>
                <div class="iconList">
                    <a onclick="window.open('/noticeContent/2016081500000009')"><span class="icon-a"></span></a>
                    <a onclick="window.open('https://credit.szfw.org/CX20160711016205521622.html')"><span class="icon-c"></span></a>
                    <a onclick="window.open('http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=1A1FW06131')"><span class="icon-d"></span></a>
                    <a onclick="window.open('http://si.trustutn.org/info?sn=683160908000511641586')"><span class="icon-e"></span></a>
                    <a href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.dianlc.com&amp;at=business" target="_blank">
                        <img src="//static.anquan.org/static/outer/image/hy_124x47.png?id=www.dianlc.com" alt="安全联盟认证" width="79" height="30">
                    </a>
                </div>
                <p class="copyright">Copyright &copy 2015-2016 众网金融科技(上海) dianlc.com 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010502001684" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="images/newIndex/ba.png" class="nIndexBa" style="float:left;"/>沪公网安备 31010502001684号</a> | 沪ICP备15055080号-2</p>                
            </div>
        </div>
        <div class="link">
            <div class="linkDiv">
                <span>友情链接：</span>
                <a class="linkA" target="_blank" href='http://www.allinmoney.com'>众财富</a>
                <a class="linkA" target="_blank" href='http://www.chinasmartpay.com'>中国支付通</a>
                <a class="linkA" target="_blank" href='http://www.wdzj.com'>网贷之家</a>
                <a class="linkA" target="_blank" href='http://www.p2peye.com'>网贷天眼</a>
                <a class="linkA" target="_blank" href='http://shanghai.rongzi.com'>东方融资网</a>
                <a class="linkA" target="_blank" href='http://www.huicaiba.com'>汇财吧</a>
                <a class="linkA" target="_blank" href='http://www.xfami.cn'>物权众筹</a>
                <a class="linkA" target="_blank" href='http://www.dailuopan.com'>贷罗盘</a>
                <a class="linkA" target="_blank" href='http://www.wdtianxia.com'>网贷天下</a>
            </div>
        </div>
        <!-- 电子营业执照 链接-->
        <!--  http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020160416235611000000606881-SAIC_SHOW_310000-20160613144147720366&signData=MEUCIQCht3P04LrPawMtLg2/ct7+f1TkNsnBwOH9by13pawzCwIgbNYYfrk2yDnv7LrOJfSkGFRH8ZG8QUTWwGVYmM+dK10= -->
        <!-- 电子营业执照 标识？？-->
        <!-- http://218.242.124.22:8080/businessShow/images/lz1.gif -->
    </div>
</div>
</div>
<div id='adjust'></div>
<div id="container"></div>
<div id="nothing" class="hide"></div>
<div class="hide">
<!--百度统计代码-->
<script refer>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?3d45605e8d0715536ead70e5435eb39a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--cnzz统计代码-->
<script  language="JavaScript" src="https://s11.cnzz.com/z_stat.php?id=1260426283&web_id=1260426283" refer></script>
</div>
</body>

</html>
