<% include header.html%>

<!-- <div id="main_header" class="header">
</div> -->
<div class="mainContentHeight"></div>
<div id='mainContent' class="hide">
  <div class="dlc-banner homeHeader" id="banner">
      <div class="right_bar">
          <div id="qqdiv" class="div_right">
              <a target="_blank" href="http://q.url.cn/s/JV6tDJm" alt="点理财-QQ">
                  <div class="qq"></div>
              </a>
          </div>
          <div id="teldiv" class="div_right">
              <span class="tel inlineBlock"></span>
              <div class="telC inlineBlock">
                  <div class="tel_t">400 820 2450</div>
              </div>
          </div>
          <div id="homediv" class="div_right">
              <span class="hometop inlineBlock"></span>
          </div>
      </div>
      <ol class="displayNone">
          <li class="on">1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
      </ol>

      <div class="recommend-pannel position_relative">

          <div class="banner-list" id="bannerList">
              <a target="_blank" href="/noticeContent/2016122300000001 "><span class="img img161223"></span></a>
              <a target="_blank" href="/activity161129"><span class="img img161129"></span></a>
              <a target="_blank" href="/activity161124"><span class="img img161124"></span></a>
              <a target="_blank" href="/activity161121"><span class="img img161121"></span></a>
              <a target="_blank" href="/activity161128"><span class="img img161128"></span></a>
              <a target="_blank" href="/regActivity"><span class="img img0930"></span></a>
              <a target="_blank" href="/noticeContent/2016081500000009"><span class="img img0902"></span></a>
          </div>
          <!-- <div class="headerOld position_absolute banner_header">

          </div> -->

          <div class="pannel position_absolute top530 banner_header text_alignC">
              <div class="first">
                  <div id="LClick" class="LClick cursor_pointer"></div>
                  <div id="RClick" class="RClick cursor_pointer"></div>
                  <!--////////////hove//////////////////////////-->
                  <div id="hoveNotice1" class="hoveNotice cursor_pointer box-shadow-5" onclick="window.location.href='/aboutMAdvantage'">
                      <span id="blockimg1" class="icon icon_1"></span>
                      <ul>
                          <li class="title">上市公司平台</li>
                          <li>智城控股（股票代码 08130-HK）</li>
                      </ul>
                  </div>
                  <div id="hoveNotice2" class="hoveNotice cursor_pointer box-shadow-5" onclick="window.location.href='/aboutMAdvantage'">
                      <span id="blockimg2" class="icon icon_2"></span>
                      <ul>
                          <li class="title">专注市政项目</li>
                          <li> 与大型央企国企筹备投资计划</li>
                      </ul>
                  </div>
                  <div id="hoveNotice3" class="hoveNotice  cursor_pointer box-shadow-5" onclick="window.location.href='/aboutMAdvantage'">
                      <span id="blockimg3" class="icon icon_3"></span>
                      <ul>
                          <li class="title">银行级别风控</li>
                          <li>采用与银行一致的风控审查标准</li>
                      </ul>
                  </div>
                  <div id="hoveNotice4" class="hoveNotice cursor_pointer box-shadow-5" onclick="window.location.href='/aboutMAdvantage'">
                      <span id="blockimg4" class="icon icon_4"></span>
                      <ul>
                          <li class="title">安全保障机制</li>
                          <li>账户合规透明 资金安全有保障</li>
                      </ul>
                  </div>
                  <!--/////////////hove//////////////////-->
              </div>
          </div>
      </div>
  </div>
  <div class="recommend-pannel">
      <div class="content_product_div">
          <div class="pannel new-hand">
              <div id="newHand" class="title-block cursor_pointer">
                  <span class="label title">新手专区</span>
                  <span class="label margin-bottom6">注册送体验金</span>
                  <span class="label mB0">到期收益可领取</span>
                  <div id="pigicon" class="label icon iconnh"></div>
              </div>
              <div class="context">
                  <div class="newLContent">
                      <div>
                          <div class="b1">
                              <p class="p1">
                                  <span id='new_p_name' class="label cursor_pointer"></span>
                              </p>
                              <div class="p2">
                                  <div>
                                      <p id="expectYearReturn"></p>
                                      <p class="label">平均历史年化收益</p>
                                  </div>
                                  <div>
                                      <p id="prodPeriod" class="prodPeriod"></p>
                                      <p class="label">投资期限</p>
                                  </div>
                              </div>
                          </div>
                          <div class="b2">
                              <!--	<span class="icon-right"></span>-->
                              <div class="w">
                                  <p><span>已有</span><span class="space" id="people"></span><span>体验</span>
                                  </p>
                                  <button class="btn red_btn" id="newHandBuy">立即投资</button>
                              </div>
                          </div>
                          <div class="clean"></div>
                      </div>
                      <div class="newNotice">此项目为引导新用户体验的虚拟投资模式，让您在体验中感受投资乐趣，到期收益可领取，本金由系统回收。</div>
                  </div>

                  <div class="b3">
                      <div class="notice_bar">
                          <span class="notice_icon inlineBlock"></span>
                          <span class="notice_title inlineBlock">最新公告</span>
                          <a id="notice0" href="aboutNotice?type=0&pageSize=10&page=1" class="notice_more inlineBlock cursor_pointer">更多></a>
                      </div>
                      <div>
                          <div class="list_title " id="list_content">
                              <ul class="ol_list">
                                  <% noticeData[0].forEach(function(list,index){ %>
                                      <li id="li<%=index%>" class="li_item li_home">
                                          <a target="_blank" href="noticeContent/<%=list.bulletinId %>">
                                              <span class="item_marquee item_marquee1 inlineBlock">
                                          <%=list.title%>
                                          </span>
                                              <span class="item_marquee item_marquee2 inlineBlock">
                                          <%=list.createdAt.substring(0,10).replace(/-/g,'/')%>
                                          </span>
                                          </a>
                                      </li>
                                      <% }) %>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="pannel new-hand H360 position_relative">
              <div id="product_div" class="title-block  H360 inlineBlock backcolor39a6ff cursor_pointer" onclick="window.location.href='/productList'">
                  <span class="label title">鑫盈精选</span>
                  <span class="label margin-bottom6">优质资产抵押</span>
                  <span class="label">低风险稳定收益</span>
                  <div id="homeicon" class="label icon iconp"></div>
                  <div onclick="window.location.href='/productList'" class="label labelMore mT40 cursor_pointer">- -更多> - -</div>
              </div>
              <div id="hove" class="li_item_productB">
                  <div>
                      <div class="title_product">
                          <!-- <span  class="icon_type"></span>-->
                          <span id="hoveName" class="titlename_product cursor_pointer"></span>
                      </div>
                      <div class="content_product">
                          <div>
                              <div id="hoveexpectYearReturn" class="present_product inlineBlock"></div>
                              <div class="present_product_bit inlineBlock">%</div>
                          </div>
                          <div class="preprofits_product">平均历史年化收益</div>
                          <div class="present_bar">
                              <div class="progress-bar-bg">
                                  <p id="progressWidth" class="progress-bar-bg-h"></p>
                              </div>

                              <span id="hovequotaProgress" class="progressNo"> </span>
                          </div>
                          <div class="detail_product">
                              <div class="block_product_l">
                                  <div>
                                      <div id="hoveprodPeriod" class="nub_product inlineBlock"></div>
                                      <div class="bit_product inlineBlock">天</div>
                                  </div>
                                  <div class="name_product">投资期限</div>
                              </div>
                              <div class="divider_product"></div>
                              <div class="block_product_r">
                                  <div>
                                      <div id="hovemaxRaisedAmount" class="nub_product inlineBlock"></div>
                                      <div class="bit_product inlineBlock">万</div>
                                  </div>
                                  <div class="name_product">项目金额</div>
                              </div>
                              <div class="clean"></div>
                          </div>
                          <button id="hoveButton" class="button_product cursor_pointer"></button>
                      </div>
                  </div>
              </div>
              <div class="list_title_product " id="list_content_product">


                  <script id="listProducts" type="text/html">
                      {{include 'list_product'}}
                  </script>
                  <script id="list_product" type="text/html">
                      <ul class="ol_list_product">
                          {{each list as value i}}
                          <li id={{ "li_product"+i}} class="li_item_product inlineBlock cursor_pointer">
                              <div>
                                  <div class="title_product">
                                      <!--  <span id="icon_type" class="icon_type"></span>-->
                                      <span id={{ "nameI"+i}} class="titlename_product cursor_pointer">{{value.name}}</span>
                                  </div>
                                  <div class="content_product">
                                      <div>
                                          <div class="present_product inlineBlock">{{value.expectYearReturn}}</div>
                                          <div class="present_product_bit inlineBlock">%</div>
                                      </div>
                                      <div class="preprofits_product">平均历史年化收益</div>
                                      <div class="present_bar">
                                          <div class="progress-bar-bg">
                                              <p id={{ "li_product_p"+i}} class="progress-bar-bg-h"></p>
                                          </div>
                                          <span class="progressNo">{{value.quotaProgress+"%"}}</span>
                                      </div>
                                      <div class="detail_product">
                                          <div class="block_product_l">
                                              <div>
                                                  <div class="nub_product inlineBlock">{{value.prodPeriod}}</div>
                                                  <div class="bit_product inlineBlock">天</div>
                                              </div>
                                              <div class="name_product">投资期限</div>
                                          </div>
                                          <div class="divider_product"></div>
                                          <div class="block_product_r">
                                              <div>
                                                  <div class="nub_product inlineBlock">{{value.maxRaisedAmount}}</div>
                                                  <div class="bit_product inlineBlock">万</div>
                                              </div>
                                              <div class="name_product">项目金额</div>
                                          </div>
                                          <div class="clean"></div>
                                      </div>
                                      <button id={{ "buttonI"+i}} class="button_product cursor_pointer"></button>
                                  </div>
                              </div>
                          </li>
                          {{/each}}
                      </ul>
                  </script>
              </div>
          </div>
          <div class="news_content">
              <div class="news">
                  <div class="news_title">
                      <div class="title inlineBlock">行业新闻</div>
                      <a id="notice1" href="aboutNotice?type=1&pageSize=10&page=1" class="notice_more cursor_pointer">更多></a>
                  </div>
                  <% noticeData[1].forEach(function(list,index){ %>
                      <a target="_blank" href="noticeContent/<%=list.bulletinId %>">
                      <div id="news<%=index%>" class="news_mT li_home width538">
                          <% if(index == 0){%>
                          <img id="newsimg" class="news_img inlineBlock" alt="点理财 行业新闻"
                          src="<%=list.thumbnailUrl%>">
                          <% } %>
                          <div id="newstilte1" class="news_content_title inlineBlock <% if(index != 0){%>news_content_w<% } %>">
                          <%=list.title%>
                          </div>
                          <div id="newstime1" class="news_tile inlineBlock <% if(index == 0){%>newTime<% } %>">
                          <%=list.createdAt.substring(0,10).replace(/-/g,'/')%>
                          </div>
                      </div>
                      </a>
                      <% }) %>
              </div>
              <div class="news newL">
                  <div class="news_title">
                      <div class="title inlineBlock">公司动态</div>
                      <a id="notice2" href="aboutNotice?type=2&pageSize=10&page=1" class="notice_more cursor_pointer">更多></a>
                  </div>
                  <% noticeData[2].forEach(function(list,index){ %>
                      <a target="_blank" href="noticeContent/<%=list.bulletinId %>">
                      <div id="news<%=index%>" class="news_mT li_home width538">
                          <% if(index == 0){%>
                          <img id="newsimg" class="news_img inlineBlock" alt="点理财 公司动态"
                          src="<%=list.thumbnailUrl%>">
                          <% } %>
                          <div id="newstilte1" class="news_content_title inlineBlock <% if(index != 0){%>news_content_w<% } %>">
                          <%=list.title%>
                          </div>
                          <div id="newstime1" class="news_tile inlineBlock <% if(index == 0){%>newTime<% } %>">
                          <%=list.createdAt.substring(0,10).replace(/-/g,'/')%>
                          </div>
                      </div>
                      </a>
                      <% }) %>
              </div>
          </div>
      </div>

      <div class="pannel third">
          <p class="top-block"></p>
          <p class="tab-block">
              <span class="tab action tabL" id="tab1" style="border-left-width: 1px;border-right-color: #398be1">合作伙伴</span>
              <span class="tab tabR" id="tab2">合作媒体</span>
          </p>
          <div class="tab-context">
              <ul class="m" id="tabContent2" style="display:none; text-align: center;">
                  <li>
                      <a target="_blank"><span class="icon icon1 box-shadow-5"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon2 box-shadow-5"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon3 box-shadow-5"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon4 box-shadow-5"></span></a>
                  </li>
              </ul>
              <ul class="h" id="tabContent12" style=" display:none;text-align: center;">
                  <li class="marginLeft30">
                      <a target="_blank"><span class="icon icon6"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon7"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon8"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon9"></span></a>
                  </li>
              </ul>
              <ul class="h" id="tabContent1" style=" text-align: center;">
                  <li>
                      <a target="_blank"><span class="icon icon1 box-shadow-5"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon2 box-shadow-5"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon3 box-shadow-5"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon6 box-shadow-5"></span></a>
                  </li>
                  <li>
                      <a target="_blank"><span class="icon icon5 box-shadow-5"></span></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>

<% include footer.html%>
<script>
$(document).ready(function() {
    $("#mainContent").show();
    $(".mainContentHeight").hide();
});
</script>
