<% include header.html%>
<script></script>

<div style="height:242px;position:relative;overflow:hidden;">
	<div class="auCenterMenu">
    <div class="auCMDiv">
        <div class="auCMOne">
            <a class="auCMOSpan auCMOLine" id="aboutUsA" href="insurancePro" style="color:#FFF;">项目安全</a>
        </div>
        <div class="auCMOne">
            <a class="auCMOSpan" id="aboutUsB" href="insuranceMoney" style="color:#FFF;">资金安全</a>
        </div>
    </div>
</div>
<div class="ic0909Banner"></div>
<div class="aboutUsBg">
    <div class="aboutUsMain">
        <div class="aboutUsRightMain" id="aboutUsRightMain">
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
</div>

<div class="auCompanyDiv">
    <div class="auCDMode">
        <div class="auCDMHead">
            <div class="auCDMHIn">
                专注PPP模式 稳健经营
            </div>
        </div>
        <div class="auCDMD11 w1100px pt20px font16px color666">
            <span class="suCDMDS">点理财</span>是一家专业从事智慧城市和市政基础设施建设等PPP项目的互联网金融信息平台，合作伙伴包含地方政府以及大型国企，主要投资领域为市政公用基础设施项目，融资方实力雄厚，还款来源清晰，项目资料齐全。
        </div>
        <div class="pb60px colorec6941 taCenter font18px">
            那么，相较于P2P，PPP更有哪些绝对优势？
        </div>
        <div class="inCPro1">
            <div class="inCPText inCPT1"><span class="icCPTSpan">借款对象：</span>市政项目</div>
            <div class="inCPText inCPT2"><span class="icCPTSpan">信用等级：</span>强</div>
            <div class="inCPText inCPT3"><span class="icCPTSpan">担保措施：</span>政府承诺函、承诺回购函、不可撤
                <br><span class="icCPTSpan"> </span>销担保函、土地抵押、信托担保</div>
            <div class="inCPText inCPT4"><span class="icCPTSpan">获得回报：</span>稳健收益+社会价值</div>
            <div class="inCPText inCPT5"><span class="icCPTSpan">借款对象：</span>个人用途</div>
            <div class="inCPText inCPT6"><span class="icCPTSpan">信用等级：</span>弱</div>
            <div class="inCPText inCPT7"><span class="icCPTSpan">担保措施：</span>个人信用担保</div>
            <div class="inCPText inCPT8"><span class="icCPTSpan">获得回报：</span>基本收益</div>
        </div>
    </div>
</div>
<div class="auCompanyDiv icbgc">
    <div class="auCDMode">
        <div class="auCDMHead">
            <div class="auCDMHIn">
                平台模式 资金全透明
            </div>
        </div>
    </div>
    <div class="pt60px pb60px colorec6941 taCenter font18px">
       用户投资资金流转不经过平台，全部在第三方支付平台宝付实现，每一笔资金流动都清晰可控
    </div>
    <div class="auCDMD12 pb60px"></div>
</div>
<div class="auCompanyDiv">
    <div class="auCDMode">
        <div class="auCDMHead">
            <div class="auCDMHIn">
                十重风控 层层把关
            </div>
        </div>
    </div>
    <div class="pt60px pb60px colorec6941 taCenter font18px">
       我们的目标是：严控风险，稳健经营
    </div>
    <div class="inCPro3 color666">
        <span class="inCP3Span inCP3SDW1">严格筛选财务实力强劲的融资方</span>
        <span class="inCP3Span inCP3SDW2">严格筛选行业、融资项目</span>
        <span class="inCP3Span inCP3SDW3">参照银行、信托建立单个项目风控规则、平衡资产整体风险的模型</span>
        <span class="inCP3Span inCP3SDW4">法务部、外部律师事务所和专家级风控部全面审查法律及项目风险</span>
        <span class="inCP3Span inCP3SDW5">每个融资项目均至少有一家实力担保方和各种风险保障机制</span>
        <span class="inCP3Span inCP3SDW6">建立各个项目的风险隔离机制</span>
        <span class="inCP3Span inCP3SDW7">风控委员会过会</span>
        <span class="inCP3Span inCP3SDW8">上线再次审核确认</span>
        <span class="inCP3Span inCP3SDW9">投后跟踪管理资金进出明细情况</span>
        <span class="inCP3Span inCP3SDW10">专业不良资产处置团队及渠道</span>
    </div>
    <div class="h60px"></div>
</div>

<% include footer.html%>
<script>
$(document).ready(function() {
    window.app.initHeader(3);
});
</script>
