<% include header.html%>

<div style="height:242px;position:relative;overflow:hidden;">
	<div class="auCenterMenu">
    <div class="auCMDiv">
        <div class="auCMOne">
            <a class="auCMOSpan" id="aboutUsA" href="insurancePro" style="color:#FFF;">项目安全</a>
        </div>
        <div class="auCMOne">
            <a class="auCMOSpan auCMOLine" id="aboutUsB" href="insuranceMoney" style="color:#FFF;">资金安全</a>
        </div>
    </div>
</div>
<div class="ic0909Banner"></div>
<div class="aboutUsBg">
    <div class="aboutUsMain">
        <div class="aboutUsRightMain" id="aboutUsRightMain">
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
</div>

<div class="auCompanyDiv">
    <div class="auCDMode">
        <div class="auCDMHead">
            <div class="auCDMHIn">
                太平洋保险CPIC承保
            </div>
        </div>
        <div class="inCMoney1 color666">
            <span class="inCM1Span">·</span> 与太平洋保险CPIC成功签署“网络安全保险”
            <br> <span class="inCM1Span">·</span> 加强投资人资金安全的保障等级
            <br> <span class="inCM1Span">·</span> 为用户的账户资金及网络安全构筑有力的保障防线
        </div>
    </div>
</div>
<div class="auCompanyDiv icbgc">
    <div class="auCDMode">
        <div class="auCDMHead">
            <div class="auCDMHIn">
                技术保障 安全承诺
            </div>
        </div>
    </div>
    <div class="h50px"></div>
    <div class="h100px pl100px">
        <div class="inCM2Text marginauto inCM2TXY1">
            <div class="inCM2THead">1、硬件设备部署</div>
            <div class="inCM2TContent">设备均运行于顶级数据中心，同时配合三层防火墙、入侵防范等数十种安全服务保护措施</div>
        </div>
    </div>
    <div class="inCMoney2">
        <div class="inCM2Div">
            <div class="inCM2Text posRel inCM2TXY2">
                <div class="inCM2THead">2、隐私安全保障</div>
                <div class="inCM2TContent">采用Bcrypt，RSA等加密算法，保证服务器端的密码安全，防止未经授权的任何人获取用户信息</div>
            </div>

            <div class="inCM2Text posRel inCM2TXY3">
                <div class="inCM2THead">3、全程加密</div>
                <div class="inCM2TContent">前后端之间加密https传输，用户的敏感信息在数据库中全部加密存储</div>
            </div>
        </div>
        <div class="inCM2Div">
            <div class="inCM2Text posRel inCM2TXY4">
                <div class="inCM2THead">4、安全检测</div>
                <div class="inCM2TContent">对注册/登录等关键接口均限制调用频率，并进行反检测、冻结处理、用户密码防爆破控制</div>
            </div>

            <div class="inCM2Text posRel inCM2TXY5">
                <div class="inCM2THead">5、自主研发系统 </div>
                <div class="inCM2TContent">采用国际领先架构技术，全程自主研发</div>
            </div>
        </div>
    </div>
</div>
<div class="auCompanyDiv">
    <div class="auCDMode">
        <div class="auCDMHead">
            <div class="auCDMHIn">
                法律法规 合法公开
            </div>
        </div>
    </div>
    <div class="inCMoney3">
        <div class="inCM2Div">
            <div class="inCM2Text posRel inCM3TXY2">
                <div class="inCM2TContent">为最大程度的保障投资人资金安全，特与知名第三方支付平台鼎力合作</div>
            </div>

            <div class="inCM2Text posRel inCM3TXY3">
                <div class="inCM2TContent">不盲目追求高利率，平台走可持续发展</div>
            </div>
        </div>
        <div class="inCM2Div">
            <div class="inCM2Text posRel inCM3TXY4">
                <div class="inCM2TContent">投资人、融资人均需通过实名认证，投资人身份证、银行卡信息必须一致，保持资金同卡进出</div>
            </div>

            <div class="inCM2Text posRel inCM3TXY5">
                <div class="inCM2TContent">融资信息披露详尽，风险揭示充分，投资人在投资前就能对项目有详尽的了解，资金流转信息透明</div>
            </div>
        </div>
    </div>
</div>

<% include footer.html%>
<script>
$(document).ready(function() {
    window.app.initHeader(3);
});
</script>
