<% include header.html%>

    <% if (token=='reIjEf' || token=='2UjeYv') {%>
        <div class="signupSuccessMain" style="height:565px;">
            <div class="top" style="position:relative;z-index:999;font-size:24px;color:#fff;margin:0 auto;">
                <div style="height:168px"></div>
                <div style="color:yellow"><span>注册成功！</span></div>
                <div style="height:86px"></div>
                <div><span>投资就上点理财</span></div>
                <div style="height:20px"></div>
                <div><span>安全稳健的互联网金融平台</span></div>
                <div style="height:10px"></div>
                <div>喂<span style="color:yellow;font-size:36px">胖</span>您的<span style="color:yellow;">钱包</span>。从容您的生活</div>
            </div>
            <div class="down">
                <div class="red-img"></div>
                <div style="height:20px"></div>
                <div class="right" style="position:absolute;left:85%;top:600px;"><a href="/">返回首页</a></div>
            </div>
        </div>
        <% }else if (token=='qqaaI3'||token=='iuMNRj') {%>
            <div class="signupSuccessMain" style="height:565px;">
                <div class="top" style="position:relative;z-index:999;font-size:24px;color:#fff;margin:0 auto;">
                    <div style="height:168px"></div>
                    <div style="color:yellow"><span>注册成功！</span></div>
                    <div style="height:86px"></div>
                    <div><span>投资就上点理财</span></div>
                    <div style="height:20px"></div>
                    <div><span>安全稳健的互联网金融平台</span></div>
                    <div style="height:10px"></div>
                    <div>喂<span style="color:yellow;font-size:36px">胖</span>您的<span style="color:yellow;">钱包</span>。从容您的生活</div>
                </div>
                <div class="down">
                    <div class="red-img"></div>
                    <div style="height:20px"></div>
                    <div class="right" style="position:absolute;left:85%;top:600px;"><a href="/">返回首页</a></div>
                </div>
            </div>
            <% }else {%>
                <div class="signup-success" style="height:565px;">
                    <div class="top">
                        <div class="top-left">
                            <img src="../images/signup/reg-success.png" style="vertical-align: middle;">
                        </div>
                        <div class="top-right">
                            <p class="p1">恭喜您，注册成功！获得一次抽奖机会！</p>
                            <p class="p2"><span class="s2">1%加息券、168元返现券</span>已经到账，完成实名认证立即使用。</p>
                            <p>
                                <a class="ssCRA1" href="/myCenter_auth" style="color:#fff;">立即认证</a><a class="ssCRA2" href="/activity161121" style="color:#fff;">立即抽奖</a>
                            </p>
                        </div>
                        <div class="down">
                            <div class="down-left">
                                <div class="h10px"></div>
                                <div>
                                    <span class="icon">新</span>
                                    <a class="label newIndexSMC5A" href="">新手福利标</a>
                                </div>
                                <div class="nh20px">
                                    <div class="h20px"></div>
                                    <div class="progress-bar-bg">&nbsp;</div>
                                </div>                                
                                <div class="h35px"></div>                
                                <div class="h60px" style="text-align:left;">
                                    <div class="newIndexSMC1 coloraaa"  style="width:138px;margin-left: 32px;">
                                        <div class="h35px lh35px">
                                            <span class="exp_money fs30px colorff7800">0.0</span> %
                                            <span class="fs24px colorff7800 expectYearReturn2">+0.0</span>%
                                        </div>
                                        <div class="h25px lh25px">预期年化收益</div>
                                    </div>
                                    <div class="newIndexSMC2 coloraaa" style="width:100px;border-left: 0px;">
                                        <div class="h35px lh35px"><span class="exp_day fs30px color666">0</span> 天</div>
                                        <div class="h25px lh25px">投资期限</div>
                                    </div>
                                    <div class="newIndexSMC3 coloraaa" style="width:100px;border-left: 0px;">
                                        <div class="h35px lh35px"><span class="exp_count fs30px color666">0</span> 万</div>
                                        <div class="h25px lh25px">项目金额</div>
                                    </div>
                                    <div class="newIndexSMC5" style="width:150px;padding-top:35px;">
                                        <a class="newIndexSMC5A newIndexSMC5ACss" href="" style="color:#fff;">立即投资</a>
                                    </div>
                                </div>
                            </div>
                            <div class="down-right">
                                <div class="h10px"></div>
                                <div>
                                    <span class="icon" style="margin-left:-435px;">推</span>
                                    <a class="label newIndexSMC5A2" href="">热门推荐</a>
                                </div>
                                <div class="nh20px">
                                    <div class="h20px newIndexYXPBarS2" style="text-align:right;padding-right:25px;font-size:12px;color:#ff7800;line-height:15px;">0%</div>
                                    <div class="progress-bar-bg" style="text-align:left;">
                                        <span class="newIndexYXPBarS" style="background-color:#ff7800;width:0%;">
                                            <div class="bgIcon"></div>
                                        </span>
                                    </div>
                                </div>                                
                                <div class="h35px"></div>               
                                <div class="h60px" style="text-align:left;">
                                    <div class="newIndexSMC1 coloraaa"  style="width:138px;margin-left: 32px;">
                                        <div class="h35px lh35px"><span class="exp_money2 fs30px colorff7800">0.0</span> %
                                            <div class="isJX"></div>
                                        </div>
                                        <div class="h25px lh25px">预期年化收益</div>
                                    </div>
                                    <div class="newIndexSMC2 coloraaa" style="width:100px;border-left: 0px;">
                                        <div class="h35px lh35px"><span class="exp_day2 fs30px color666">0</span> 天</div>
                                        <div class="h25px lh25px">投资期限</div>
                                    </div>
                                    <div class="newIndexSMC3 coloraaa" style="width:100px;border-left: 0px;">
                                        <div class="h35px lh35px"><span class="exp_count2 fs30px color666">0</span> 万</div>
                                        <div class="h25px lh25px">项目金额</div>
                                    </div>
                                    <div class="newIndexSMC5" style="width:150px;padding-top:35px;">
                                        <a class="newIndexSMC5A2 newIndexSMC5ACss bgcd2" href="" style="color:#fff;">立即投资</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }%>
                        <% include footer.html%>

                            <script>
                                $(document).ready(function () {
                                    new DLC.SignupSuccess();
                                });
                            </script>