<% include header.html %>
    <div class="page">
        <div class="wrap">
            <p style="height:50px;"></p>
            <div class="site-map">
                <p style="height:21px;"></p>
                <p><span class="sm1">网站地图</span></p>
                <hr />
                <p>
                    <span class="sm2">投资理财</span>
                    <a href="/guide">新手指引</a>
                    <a href="/productList" style="margin-right:48px;">鑫盈精选</a>
                </p>
                <p style="height:23px;"></p>
                <p>
                    <span class="sm2">安全保障</span>
                    <a href="/insurancePro">项目安全</a>
                    <a href="/insuranceMoney">资金安全</a>
                </p>
                <p style="height:23px;"></p>
                <p>
                    <span class="sm2">资讯中心</span>
                    <a href="/aboutMAdvantage">平台优势</a>
                    <a href="/aboutNotice?type=0" style="margin-right:34px;">最新公告</a>
                    <a href="/aboutNotice?type=1,2" style="margin-right:46px;">新闻动态</a>
                    <a href="/aboutMedia">媒体报道</a>
                </p>
                <p style="height:23px;"></p>
                <p>
                    <span class="sm2">对外公告</span>
                    <a href="/noticeContent/2016082500000002">控股关系证明</a>
                </p>
                <p style="height:23px;"></p>
                <p>
                    <span class="sm2">关于我们</span>
                    <a href="/aboutCompany">公司简介</a>
                    <a href="/aboutContact">联系我们</a>
                </p>
            </div>
            <p style="height:30px;"></p>

        </div>
    </div>
    <% include footer.html%>
        <script>
            $(document).ready(function() {
                window.app.initHeader(3);
            });
        </script>
