:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff !important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff !important;
}

input:-ms-input-placeholder {
    color: #ffffff !important;
}

input::-webkit-input-placeholder{
    color: #ffffff !important;
}
